<div id="view_address_{{address.id}}">
  <div id="EditAddress_{{ address.id }}" class="form-vertical js-address-form hide">
    <div class="form-custom">

      {% form 'customer_address', address %}
  
        <hr class="hr--medium" />
        <h2 class="h3-custom">{{ 'customer.addresses.edit_address' | t }}</h2>
  
        <div class="grid grid--small">
          <div class="grid__item one-half small--one-whole">
            <label for="AddressFirstName_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label>
            <input type="text" id="AddressFirstName_{{form.id}}" class="input-full" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
          </div>
  
          <div class="grid__item one-half small--one-whole">
            <label for="AddressLastName_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label>
            <input type="text" id="AddressLastName_{{form.id}}" class="input-full" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
          </div>
        </div>
  
        <label for="AddressCompany_{{form.id}}">{{ 'customer.addresses.company' | t }}</label>
        <input type="text" id="AddressCompany_{{form.id}}" class="input-full" name="address[company]" value="{{form.company}}" autocapitalize="words">
  
        <label for="AddressAddress1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label>
        <input type="text" id="AddressAddress1_{{form.id}}" class="input-full" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
  
        <label for="AddressAddress2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label>
        <input type="text" id="AddressAddress2_{{form.id}}" class="input-full" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
  
        <label for="AddressCity_{{form.id}}" style="display: none;">{{ 'customer.addresses.city' | t }}</label>
        <input type="text" id="AddressCity_{{form.id}}" class="input-full hide" name="address[city]" value="{{form.province}}" autocapitalize="words">
      
        <div id="AddressProvinceContainer_{{form.id}}" style="display: none;">
          <label for="AddressProvince_{{form.id}}">{{ 'customer.addresses.province' | t }}</label>
          <select id="AddressProvince_{{form.id}}" class="input-full" name="address[province]" data-default="{{form.province}}" onchange="PopulateProvinceToCity(this)"></select>
        </div>
  
        <div
          class="js-address-country"
          data-country-id="AddressCountry_{{form.id}}"
          data-province-container-id="AddressProvinceContainer_{{form.id}}"
          data-province-id="AddressProvince_{{form.id}}">
          <label for="AddressCountry_{{form.id}}">{{ 'customer.addresses.country' | t }}</label>
          <select id="AddressCountry_{{form.id}}" class="input-full" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
        </div>
  
        <div class="grid grid--small">
          <div class="grid__item one-half small--one-whole">
            <label for="AddressZip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label>
            <input type="text" id="AddressZip_{{form.id}}" class="input-full" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
          </div>
  
          <div class="grid__item one-half small--one-whole">
            <label for="AddressPhone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label>
            <input type="tel" id="AddressPhone_{{form.id}}" class="input-full" name="address[phone]" value="{{form.phone}}">
          </div>
        </div>
        <div class="checkbox-wrapper">
          <div class="checkbox__input">
            <input type="checkbox" id="address_default_address_{{address.id}}" name="address[default]" value="1" class="input-checkbox">
          </div>
          <label class="checkbox__label checkbox__label__custom" for="CustomerTermsAndConditionsAcceptance">
            {{ 'customer.addresses.set_default' | t }}
          </label>
        </div>
        <div class="address-form__butons">
          <button type="submit" class="btn locate-button" title="{{ 'customer.addresses.update' | t }}">{{ 'customer.addresses.update' | t }}</button>
          <button type="button" class="btn btn--tertiary custom xs-width-auto js-no-transition address-edit-toggle" data-form-id="{{ address.id }}">{{ 'customer.addresses.cancel' | t }}</button>
        </div>
      {% endform %}
    </div>
  </div>
</div>
<script>
  function PopulateProvinceToCity(that) {
    console.log('value:',that.value);
    const id = that.getAttribute('id') || '';
    const formId = id.replace('AddressProvince_', '');
    const cityId = `AddressCity_${formId}`;
    const cityNode = document.getElementById(cityId);
    if(cityNode) {
      cityNode.value = that.value;
    }
  }
</script>