{% comment %} <script>
  window.collectionProducts = [
    {%- for product in products -%}
      {{ product.selected_or_first_available_variant.sku | json }},
    {%- endfor -%}
  ];
</script>
<div class="address-finder-plp" data-address-finder-plp data-select-placeholder="{{ 'address_finder.filter_by_store' | t }}">
  <div class="address-finder">
    <div class="text-warning option-none-found hide" data-pickup-options-none-found data-banner="true" role="alert" tabindex="-1" aria-atomic="true" aria-live="polite">
      {%- render 'ico-alert' -%}
      <div class="notice__content">
        <p class="notice__text">{{ 'shopify.checkout.custom.option_none_found' | t }}</p>
      </div>
    </div>
    <div class="inner">
      <span class="icon-map-wrapper">{%- render 'icon-map' -%}</span>
      {{ "address_finder.heading" | t }}
      <span data-address-finder-text class="selected-address-text">{{
        "address_finder.no_address" | t
      }}</span>
      <a
        href="#"
        data-address-finder-open-btn
        class="text-link js-modal-open-address-finder"
        id="helper-link"
        >{{ "address_finder.link_text" | t }}</a
      >
    </div>
  </div>
  <div class="address-finder-plp__filter">
    <button class="btn locate-button justify-content-center align-items-center hide" type="button" title="{{ 'address_finder.check_in_store_button' | t }}" data-check-in-store-button>
      {{ 'address_finder.show_store' | t }}
    </button>
    <div class="custom-field hide" data-store-filter-wrapper>
      <label for="storeFilter">{{ 'address_finder.selected_store' | t }}</label>
      <select class="custom-select custom-select-2"  name="storeFilter" id="storeFilter" data-store-filter>
        <option value="">{{ 'address_finder.filter_by_store' | t }}</option>
      </select>
    </div>
    
  </div>
</div> {% endcomment %}