{%- capture LOCATION_ITEM -%}
  <div class="location-item %display%" data-supplier-item>
    <span class="%available%">
      {% render 'ico-tick-success' %} 
    </span>
    <span class="%warning%">
      {% render 'ico-location-item-warning' %} 
    </span>
    <span class="%unavailable%">
      {% render 'ico-tick-error' %} 
    </span>
    %title% <span class="distance">%distance%</span>
  </div>
{%- endcapture -%}
{%- capture VIEWMORE_BUTTON -%}
<div class="viewmore %display%" data-viewmore-button="true">
  {{ 'address_finder.view_more' | t }}
</div>
{%- endcapture -%}
<div class="address-finder-pdp" data-html='{"location_item": {{ LOCATION_ITEM | json }}, "viewmore_btn": {{ VIEWMORE_BUTTON | json }}}' data-default-qty="{{ settings.default_quantity }}">
  <div class="text-warning option-none-found hide" data-variant-none-found data-banner="true" role="alert" tabindex="-1" aria-atomic="true" aria-live="polite" style="margin-bottom: 10px;">
    {%- render 'ico-alert' -%}
    <div class="notice__content">
      <p class="notice__text">{{ 'shopify.checkout.custom.variant_none_found' | t }}</p>
    </div>
  </div>
  <button class="btn locate-button justify-content-center align-items-center" type="button" title="{{ 'address_finder.check_in_store_button' | t }}" data-check-in-store-button>
    <span class="button-locate-icon">
      {%- render 'icon-locate' -%}
    </span>
    <span>
      {{ 'address_finder.check_in_store_button' | t }}
    </span>
  </button>
  <div class="address-finder hide" data-address-finder-pdp>
    <div class="text-warning option-none-found hide" data-pickup-options-none-found data-banner="true" role="alert" tabindex="-1" aria-atomic="true" aria-live="polite">
      {%- render 'ico-alert' -%}
      <div class="notice__content">
        <p class="notice__text">{{ 'shopify.checkout.custom.option_none_found' | t }}</p>
      </div>
    </div>
    <div class="inner">
      <span class="icon-map-wrapper">{%- render 'icon-map' -%}</span>
      {{ "address_finder.heading" | t }}
      <span data-address-finder-text class="selected-address-text">{{
        "address_finder.no_address" | t
      }}</span>
      <a
        href="#"
        data-address-finder-open-btn
        class="text-link js-modal-open-address-finder"
        id="helper-link"
        >{{ "address_finder.link_text" | t }}</a
      >
    </div>
  </div>
  <div class="location-list hide" data-location-list-pdp>
    <div class="inner">
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-success' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-location-item-warning' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-location-item-warning' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-location-item-warning' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-location-item-warning' %} ALI MALL <span class="distance">5km</span>
      </div>
      <div class="location-item">
        {% render 'ico-tick-error' %} ALI MALL <span class="distance">5km</span>
      </div>
    </div>
    <div class="viewmore">
      {{ 'address_finder.view_more' | t }}
    </div>
  </div>
</div>