{% capture labelMarketing %}
  <div>Email me with news and offers</div>
{% endcapture %}
{% capture removeExisting %}
  <small>For quicker pickup address entry, find your area from the drop down fields.</small>
{% endcapture %}
{% capture pickUpList %}
  {% render 'custom-pickup' %}

    <input type="hidden" id='linkThankyouPage' name="checkout[attributes][orderLink]"/>
  <script>
        const pizza =window.location.href.split('/');
    const https=pizza[0];
   const storeVendor=pizza[2];
              checkoutID=pizza[3];
    const subPizza = pizza[5].split('?');
       checkoutToken=subPizza[0];
     const linkThankyouPage= `${https}\/\/${storeVendor}\/${checkoutID}\/checkouts\/${checkoutToken}\/thank_you`;
    document.querySelector('#linkThankyouPage').value=linkThankyouPage;
  </script>
{% endcapture %}
{% capture dropdownProvince %}
  {% render 'shipping_address' %}
{% endcapture %}
{% capture ReviewDetailsBlock %}
  <script>
    if ($('.review-block__label')[1].innerText != 'Ship to') {
      shippingValue = localStorage.getItem('ShippingMethod');
      $('.review-block__content')[1].innerHTML = shippingValue;
    }

         const codLabelElement  =  document.querySelectorAll('.section__title');
                      for (let i = 0; i < codLabelElement.length; i++) {
                      
                      // Check if the label element exists
                         if(codLabelElement[i].textContent.trim() == "Billing address"){
                          codLabelElement[i].innerHTML='Shipping address';
                        }
                      }

        const codLabelElement  =  document.querySelectorAll('.section__text');
                      for (let i = 0; i < codLabelElement.length; i++) {
                      
                      // Check if the label element exists
                         if(codLabelElement[i].textContent.trim() == "Enter the address that matches your card or payment method."){
                          codLabelElement[i].remove();
                        }
                      }
      


    setTimeout(()=>{

                function selectOptionByDataAttributeValue(dataAttribute, valueToSelect) {
  var selectElement = document.querySelector('#checkout_billing_address_province'); // Change this ID to match your select element ID
  
  for (var i = 0; i < selectElement.options.length; i++) {
        var option = selectElement.options[i];
        var dataValue = option.getAttribute(dataAttribute);
        
        if (dataValue === valueToSelect) {
          option.selected = true;
          break; // Exit the loop once the option is found and selected
        }
      }
    }
      
      var res = JSON.parse(localStorage.getItem('ShippingAddress'))
      document.querySelector('#checkout_billing_address_first_name').value=res.first_name;
      document.querySelector('#checkout_billing_address_last_name').value=res.last_name;
       document.querySelector('#checkout_billing_address_company').value=res.street_address;
      document.querySelector('#checkout_billing_address_address1').value=res.barangay;
      document.querySelector('#checkout_billing_address_address2').value=res.city;
       document.querySelector('#checkout_billing_address_zip').value=res.zip;
        const AutoRegionData=`["${res.province}"]`;
       selectOptionByDataAttributeValue('data-alternate-values', AutoRegionData);
      document.querySelector('#checkout_billing_address_city').value=res.province;
      document.querySelector('#checkout_billing_address_phone').value=res.phone_number; 

      
    }, 500)
  </script>
{% endcapture %}

<script type="text/javascript">

  window.custard.init(jQuery || Checkout.jQuery, Shopify.Checkout.step || (Shopify.Checkout.OrderStatus ? 'order_status' : null),
  {    
   html_templates: {
                marketing_text: {{ labelMarketing | json }},
                remove_existing: {{ removeExisting | json }},
                pickup_list: {{ pickUpList | json }},
                pickupReviewDetailsBlock: {{ ReviewDetailsBlock | json }},
                dropdown_province: {{ dropdownProvince | json }}

  }  
  });


</script>