{% capture labelMarketing %}
  <small>Sample Marketing Text123</small>
{% endcapture %}
{% capture removeExisting %}
  <small>For quicker pickup address entry, find your area from the drop down fields.</small>
{% endcapture %}
{% capture pickUpList %}
  {% render 'custom-pickup' %}
{% endcapture %}
{% capture dropdownProvince %}
  <script>
    $('.field__input-wrapper')[8].innerHTML = `<select class=" field__input field__input -- select "
    placeholder="Province" autocomplete="shipping address-level2" autocorrect="off" data-backup="city" aria-required="true" 
    size="30" type="text" name="checkout[shipping_address][city]" id="checkout_shipping_address_city"" >
    <option>Province</option>
    </select>
    `;
  </script>
{% endcapture %}
{% capture ReviewDetailsBlock %}

  <script>
    if ($('.review-block__label')[1].innerText != 'Ship to') {
      shippingValue = localStorage.getItem('ShippingMethod');
      $('.review-block__content')[1].innerHTML = shippingValue;
    }
  </script>
{% endcapture %}


<script type="text/javascript">

  window.custard.init(jQuery || Checkout.jQuery, Shopify.Checkout.step || (Shopify.Checkout.OrderStatus ? 'order_status' : null),
  {    
                                   html_templates: {
                                            marketing_text: {{ labelMarketing | json }},
  remove_existing: {{ removeExisting | json }},
  pickup_list: {{ pickUpList | json }},
  pickupReviewDetailsBlock: {{ ReviewDetailsBlock | json }},
  dropdown_province: {{ dropdownProvince | json }}

  }  
  });


</script>