{%- capture PICKUP_LOGO -%}
  {% render 'ico-pickup' %}
{%- endcapture -%}
<script type="text/javascript">
  window.CartItems = [];
  {% for line_item in checkout.line_items %}
    window.CartItems.push({
    sku: "{{ line_item.sku }}",
    quantity: {{ line_item.quantity }},
    image: "{{ line_item | image_url: width: 100, height: 100 }}",
    variant_id: "{{ line_item.variant.id }}",
    variant_title: "{{ line_item.variant.title }}",
    price: "{{ line_item.price }}",
    title: "{{ line_item.title }}"
    });
  {% endfor %}
  window.CheckoutSupplierId = "{{- checkout.attributes.pickup_store_id -}}";
  window.Customer = {}
  {% if customer %}
    window.Customer.first_name = "{{ customer.default_address.first_name }}";
    window.Customer.last_name = "{{ customer.default_address.last_name }}";
    window.Customer.phone = "{{ customer.default_address.phone }}";
  {% endif %}
  window.sla = {
  all_av: "{{ settings.store_sla_all_avaibility }}",
  some_av: "{{ settings.store_sla_some_avaibility }}"
  }
</script>
{%- capture CHECKOUT_HELP_TEXT -%}
  {%- unless customer -%}
    <div class="checkout-customer-message">
      {{ 'shopify.checkout.custom.register_html' | t }}
    </div>
  {%- endunless -%}
{%- endcapture -%}
{%- capture EXISTING_ATTRIBUTES %}
  <div id="existing-attributes">
    {% for attribute in checkout.attributes %}
      <input
        class="visually-hidden"
        type="text"
        name="checkout[attributes][{{ attribute.first }}]"
        value="{{ attribute.last }}" />
    {% endfor %}

    <input
      class="visually-hidden"
      type="text"
      name="checkout[attributes][_address_autocomplete]"
      value="" />
    <input
      class="visually-hidden"
      type="text"
      name="checkout[note]"
      value="{{ checkout.note }}" />
  </div>
{% endcapture -%}
{%- capture GABC_NOTE -%}
  <div class="gabc-note__container">
    <span class="gabc-note__title">{{ 'shopify.checkout.custom.pickup_office_title' | t }}</span><br/>
    <small class="gabc-note__subtitle">{{ 'shopify.checkout.custom.pickup_office_subtitle_html' | t }}</small>
  </div>
{%- endcapture -%}

{%- capture FLNAME_NOTE -%}
  <small class="gabc-note__subtitle">{{ 'shopify.checkout.custom.flname_reminder_html' | t }}</small>
{%- endcapture -%}

{%- capture PHONE_PLACEHOLDER -%}
  {{ 'shopify.checkout.contact.phone_label' | t }}
{%- endcapture -%}

{%- capture ADDRESS_FINDER_BOX_NO_LOCATION -%}
  <div class="content-box address-finder-box">
    <div class="content-box__row">
      <span class="icon-map-wrapper">{%- render 'icon-map' -%}</span>
      Current
      Address:
      <span data-address-finder-text class="selected-address-text">No address selected.</span>
      <a
        href="#"
        data-address-finder-open-btn
        class="text-link js-modal-open-address-finder"
        id="helper-link">Please find your location first.</a>
    </div>
  </div>
{%- endcapture -%}
{%- capture LOAD_LOCATION_BTN -%}
  <button
    class="btn hidden load-location-btn"
    type="button"
    data-load-location-btn>
    {{ "shopify.checkout.custom.load_location" | t }}
    <svg
      class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button"
      aria-hidden="true"
      focusable="false">
      <use xlink:href="#spinner-button"></use>
    </svg>
  </button>
{%- endcapture -%}
{%- capture OPTION_ITEMS -%}
  <div class="content-box__row hidden" data-item-list>
    <div class="location__item__list %items_av%">
      <div class="location__item__heading">
        {% render 'ico-tick-warning' %}
        {{ "shopify.checkout.custom.item_warning_heading" | t }}
      </div>
      %av_table%
    </div>
    <div class="location__item__list unav-list %items_unav%">
      <div class="location__item__heading">
        {% render 'ico-tick-error' %}
        {{ "shopify.checkout.custom.item_error_heading" | t }}
        <div class="small-text">
          {{ "shopify.checkout.custom.item_error_heading_help_text" | t }}
        </div>
      </div>
      %unav_table%
    </div>
  </div>
{%- endcapture -%}
{%- capture PICKUP_OPTION_TABLE_PRODUCT -%}
  <div class="product-table__wrapper" %item%>
    <table class="product-table">
      <caption class="visually-hidden">
        Shopping cart
      </caption>
      <thead class="product-table__header">
        <tr>
          <th scope="col">
            <span class="visually-hidden">Product image</span>
          </th>
          <th scope="col">
            <span class="visually-hidden">Description</span>
          </th>
          <th scope="col">
            <span class="visually-hidden">Quantity</span>
          </th>
          <th scope="col">
            <span class="visually-hidden">Price</span>
          </th>
        </tr>
      </thead>
      <tbody data-order-summary-section="line-items">
        %tr%
      </tbody>
    </table>
  </div>
{%- endcapture -%}
{%- capture TABLPE_PRODUCT_ROW -%}
  <tr class="product">
    <td class="product__image">
      <div class="product-thumbnail">
        <div class="product-thumbnail__wrapper">
          <img
            alt="%title%"
            class="product-thumbnail__image"
            src="%image%" />
        </div>
        <span class="product-thumbnail__quantity" aria-hidden="true">%quantity%</span>
      </div>
    </td>
    <th class="product__description" scope="row">
      <span class="product__description__name order-summary__emphasis">%title%</span>
      <span class="product__description__variant order-summary__small-text">%variant_title%</span>
    </th>
    <td class="product__quantity">
      <span class="visually-hidden">
        %quantity%
      </span>
    </td>
    <td class="product__action %delete%">
      <div class="location__item__list__checkbox">
        {% render 'ico-tick-checkbox' %}
      </div>
    </td>
  </tr>
{%- endcapture -%}
{%- capture OPTION_ITEMS_SHIPPING -%}
  <div class="content-box__row content-box__row___error" data-item-list>
    <div class="location__item__list">
      <div class="location__item__heading">
        {% render 'ico-tick-error' %}
        {{ "shopify.checkout.custom.item_error_heading_shipping" | t }}
        <div class="small-text">
          {{ "shopify.checkout.custom.item_error_heading_help_text" | t }}
        </div>
      </div>
      <div class="product-table__wrapper">
        <table class="product-table">
          <caption class="visually-hidden">
            Shopping cart
          </caption>
          <thead class="product-table__header">
            <tr>
              <th scope="col">
                <span class="visually-hidden">Product image</span>
              </th>
              <th scope="col">
                <span class="visually-hidden">Description</span>
              </th>
              <th scope="col">
                <span class="visually-hidden">Quantity</span>
              </th>
              <th scope="col">
                <span class="visually-hidden">Price</span>
              </th>
            </tr>
          </thead>
          <tbody data-order-summary-section="line-items">
            %tr%
          </tbody>
        </table>
      </div>
    </div>
  </div>
{%- endcapture -%}
{%- capture LOCATION_LIST -%}
  <div class="content-box location-list hidden" data-location-list-display></div>
{%- endcapture -%}
{%- capture PICKUP_OPTION -%}
  <div class="content-box__row %isAll%" data-option-item>
    <div class="radio-wrapper">
      <div class="radio__input">
        <input
          class="input-radio"
          type="radio"
          name="checkout[attributes][pickup_store_id]"
          id="checkout_pickup_option_handle_%id%"
          data-location-title="%title%"
          data-availability="%availability%"
          data-location-handle="%id%"
          data-location-street="%street%"
          data-location-city="%city%"
          data-location-items="%items%"
          data-location-province="%province%"
          data-location-zip="%zip%"
          data-location-email="%email%"
          data-location-phone="%phone%" />
      </div>
      <label
        class="radio__label"
        aria-hidden="true"
        for="checkout_pickup_option_handle_%id%">
        <div class="radio__label__primary">
          <div>%title%</div>
          <div class="small-text">%street%,<br/>%city%</div>
        </div>
        <div class="radio__label__accessory">
          <div class="content-box__emphasis content-box__emphasis--success %items_av%">
            %sla%
          </div>
          <div class="content-box__emphasis content-box__emphasis--warning %some_items_av_title%">
            %sla%
          </div>
          <div class="small-text pickup-instructions hide-on-mobile %items_av_subtext% ">All Items Available</div>
          <div class="small-text pickup-instructions hide-on-mobile  %some_items_av_subtext% ">Some Items Available</div>
        </div>
      </label>
    </div>
  </div>
{%- endcapture -%}
{% capture PICKUP_OPTIONS_NONE_FOUND %}
  <div
    class="text-warning option-none-found hidden"
    data-pickup-options-none-found
    data-banner="true"
    role="alert"
    tabindex="-1"
    aria-atomic="true"
    aria-live="polite">
    {%- render 'ico-alert' -%}
    <div class="notice__content">
      <p class="notice__text">
        {{ "shopify.checkout.custom.option_none_found_checkout" | t }}
      </p>
    </div>
  </div>
{% endcapture %}
{% capture SHIPPING_NONE_FOUND %}
  <div
    class="text-warning option-none-found hidden"
    data-pickup-options-none-found
    data-banner="true"
    role="alert"
    tabindex="-1"
    aria-atomic="true"
    aria-live="polite">
    {%- render 'ico-alert' -%}
    <div class="notice__content">
      <p class="notice__text">
        {{ "shopify.checkout.custom.option_none_found" | t }}
      </p>
    </div>
  </div>
{% endcapture %}
{%- capture PICKUP_REVIEW_DETAILS_BLOCK %}
  Pick up from
  {{ checkout.attributes.pickup_store_title }}<br/>
  <p class="small-text">
    {{ checkout.attributes.pickup_store_street }},
    {{ checkout.attributes.pickup_store_city }}
    {{ checkout.attributes.pickup_store_province }}
    {{ checkout.attributes.pickup_store_zip }}
  </p>
{% endcapture -%}
{% capture PICKUP_OPTIONS_STORE_ADDITIONAL_FIELDS %}
  <div class="hidden pickup-options-additional-details">
    <input
      type="hidden"
      name="checkout[attributes][pickup_store_id]"
      value="%id%" />
    <input
      type="hidden"
      name="checkout[attributes][pickup_store_title]"
      value="%title%" />
    <input
      type="hidden"
      name="checkout[attributes][pickup_store_street]"
      value="%street%" />
    <input
      type="hidden"
      name="checkout[attributes][pickup_store_city]"
      value="%city%" />
    <input
      type="hidden"
      name="checkout[attributes][pickup_store_province]"
      value="%province%" />
    <input
    type="hidden"
      name="checkout[attributes][pickup_store_zip]"
      value="%zip%" />
    {%- comment -%}
    <input
    type="hidden"
    name="checkout[attributes][pickup_store_email]"
    value="%email%"
    />
    <input
    type="hidden"
    name="checkout[attributes][pickup_store_phone]"
    value="%phone%"
    />
    {%- endcomment -%}
    <input
      type="hidden"
      name="checkout[attributes][pickup_timestamp]"
      value="%timestamp%" />
  </div>
{% endcapture %}
{% capture PICKUP_INFO %}
  <p>{{ checkout.attributes.pickup_store_title }}</p>
  <address class="address">
    {{ checkout.attributes.pickup_store_street }},
    {{ checkout.attributes.pickup_store_city }}
    {{ checkout.attributes.pickup_store_province }}
    {{ checkout.attributes.pickup_store_zip }}
  </address>
  <p>{{ checkout.attributes.pickup_date | date: "%A, %e %B" }}</p>
{% endcapture %}

{% capture PROVICE_LIST %}
  {%- render 'province-list-checkout' -%}
{% endcapture %}

<script type="text/javascript">
  window.custard.init(jQuery || Checkout.jQuery, Shopify.Checkout.step || (Shopify.Checkout.OrderStatus ? 'order_status' : null), {
  html_templates: {
        pickup_logo: {{ PICKUP_LOGO | json }},
  address_finder_no_location: {{ ADDRESS_FINDER_BOX_NO_LOCATION | json }},
  load_location_btn: {{ LOAD_LOCATION_BTN | json }},
  location_list: {{ LOCATION_LIST | json }},
  pickup_options_items_shipping: {{ OPTION_ITEMS_SHIPPING | json }},
  pickupInfo: {{ PICKUP_INFO | json }},
  shippingNoneFound: {{ SHIPPING_NONE_FOUND | json }},
  checkoutHelpText: {{ CHECKOUT_HELP_TEXT | json }},
  province_list: {{ PROVICE_LIST | json }}
  },
  address: {{ checkout.shipping_address | json }},
  });
</script>