{{ 'flipdown.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'flipdown.min.js' | asset_url }}"></script>

<div class="flash-sale-countdown {{ class_name }} {% if area.settings.flash_space %}index-section{% endif %}">
  {%- if area.settings.flash_title != blank -%}
  <header class="section-header">
    <h2 class="section-header__title">{{ area.settings.flash_title }}</h2>
  </header>
  {%- endif -%}
  <div id="flash-sale-timer-{{ section.settings.flash_id }}" class="flipdown"></div>
</div>

<script>
var flash_sale_end = new Date('{{ area.settings.flash_sale_end_date }}').getTime() / 1000;
var flipdown = new FlipDown(flash_sale_end, 'flash-sale-timer-{{ section.settings.flash_id }}').start().ifEnded(() => { document.querySelector('.flash-sale-countdown').style.display = 'none'; });
</script>