<div data-section-id="{{ block.id }}" class="index-section--hero {% if block.settings.space_around %} index-section{% endif %}" {{ block.shopify_attributes }}>
   {%- unless section.settings.loading_bar -%}
   {%- style -%}
   #BlockSlideshowSection-{{ block.id }} .slideshow__slide.is-selected:after {
    display: none;
   }
   {%- endstyle -%}
   {%- endunless -%}
   <div class="slideshow-wrapper" data-per-row="1">
   {%- if section.settings.autoplay and section.blocks.size > 1 -%}
   {%- style -%}
   .slideshow__slide.is-selected:after {
    transition-delay: 1500ms;
    transition-duration: {{ section.settings.autoplay_speed | times: 1000 | minus: 1500 }}ms;
   }
   {%- endstyle -%}
   <button type="button" class="visually-hidden slideshow__pause" aria-live="polite">
      <span class="slideshow__pause-stop">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pause" viewBox="0 0 10 13"><g fill="#000" fill-rule="evenodd"><path d="M0 0h3v13H0zM7 0h3v13H7z"/></g></svg>
        <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
      </span>
      <span class="slideshow__pause-play">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="18.24 17.35 24.52 28.3"><path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/></svg>
        <span class="icon__fallback-text">{{ 'sections.slideshow.play_slideshow' | t }}</span>
      </span>
    </button>
   {%- endif -%}
     
   <div class="hero-natural--{{ block.id }}  hero--mobile--{{ block.settings.mobile_height }}">
        <div id="BlockSlideshowSection-{{ block.id }}"
          class="hero hero--natural hero--{{ block.id }} hero--mobile--{{ block.settings.mobile_height }} loading loading--delayed"
          data-natural="true"
          data-mobile-natural="false"
          data-autoplay="{{ block.settings.autoplay }}"
          data-speed="{{ block.settings.autoplay_speed | times: 1000 }}"
          data-aos="hero__animation"
          {% if block.settings.style == 'arrows' %}
            data-arrows="true"
          {% endif %}
          {% if block.settings.style == 'dots' %}
            data-dots="true"
          {% endif %}
          data-slide-count="{{ block.settings.slide_size }}">
          <div class="slideshow__slide slideshow__slide--{{ block.id }}-0" data-index="0" data-id="{{ block.id }}-0">
          {%- if block.settings.slide_img_link != blank -%}<a href="{{ block.settings.slide_img_link }}">{%- endif -%}
          <div class="hero__image-wrapper hero__image-wrapper--no-overlay">
            {%- assign img_url =block.settings.slide_img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
			<img class="hero__image lazyload"
                 data-widths="[239, 409, 865, 1730]"
                 data-src="{{ img_url }}"
                 data-aspectratio="{{ block.settings.slide_img.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.slide_img.image.alt | escape }}">
            <noscript>
              <img class="hero__image hero__image--{{ block.id }}-0"
                   src="{{ block.settings.slide_img | img_url: '905x' }}"
                   alt="{{ block.settings.slide_img.alt | escape }}">
            </noscript>
            </div>
          {%- if block.settings.slide_img_link != blank -%}</a>{%- endif -%}
          </div> 
		  
          {%- if block.settings.slide_img1 -%}
          <div class="slideshow__slide slideshow__slide--{{ block.id }}-1" data-index="1" data-id="{{ block.id }}-1">
          {%- if block.settings.slide_img_link1 != blank -%}<a href="{{ block.settings.slide_img_link1 }}">{%- endif -%}
          <div class="hero__image-wrapper hero__image-wrapper--no-overlay">
            {%- assign img_url =block.settings.slide_img1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
			<img class="hero__image lazyload"
                 data-widths="[239, 409, 865, 1730]"
                 data-src="{{ img_url }}"
                 data-aspectratio="{{ block.settings.slide_img1.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.slide_img1.image.alt | escape }}">
            <noscript>
              <img class="hero__image hero__image--{{ block.id }}-1"
                   src="{{ block.settings.slide_img1 | img_url: '905x' }}"
                   alt="{{ block.settings.slide_img1.alt | escape }}">
            </noscript>
            </div>
          {%- if block.settings.slide_img_link1 != blank -%}</a>{%- endif -%}
          </div>
          {%- endif -%}
          
          {%- if block.settings.slide_img2 -%}
          <div class="slideshow__slide slideshow__slide--{{ block.id }}-2" data-index="2" data-id="{{ block.id }}-2">
          {%- if block.settings.slide_img_link2 != blank -%}<a href="{{ block.settings.slide_img_link2 }}">{%- endif -%}
          <div class="hero__image-wrapper hero__image-wrapper--no-overlay">
            {%- assign img_url =block.settings.slide_img2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
			<img class="hero__image lazyload"
                 data-widths="[239, 409, 865, 1730]"
                 data-src="{{ img_url }}"
                 data-aspectratio="{{ block.settings.slide_img2.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.slide_img2.image.alt | escape }}">
            <noscript>
              <img class="hero__image hero__image--{{ block.id }}-2"
                   src="{{ block.settings.slide_img2 | img_url: '905x' }}"
                   alt="{{ block.settings.slide_img2.alt | escape }}">
            </noscript>
            </div>
            {%- if block.settings.slide_img_link2 != blank -%}</a>{%- endif -%}
          </div>
          {%- endif -%}
          
          {%- if block.settings.slide_img3 != blank -%}
          <div class="slideshow__slide slideshow__slide--{{ block.id }}-3" data-index="3" data-id="{{ block.id }}-3">
          {%- if block.settings.slide_img_link3 != blank -%}<a href="{{ block.settings.slide_img_link3 }}">{%- endif -%}
          <div class="hero__image-wrapper hero__image-wrapper--no-overlay">
            {%- assign img_url =block.settings.slide_img3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
			<img class="hero__image lazyload"
                 data-widths="[239, 409, 865, 1730]"
                 data-src="{{ img_url }}"
                 data-aspectratio="{{ block.settings.slide_img3.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.slide_img3.image.alt | escape }}">
            <noscript>
              <img class="hero__image hero__image--{{ block.id }}-3"
                   src="{{ block.settings.slide_img3 | img_url: '905x' }}"
                   alt="{{ block.settings.slide_img3.alt | escape }}">
            </noscript>
            </div>
          {%- if block.settings.slide_img_link3 != blank -%}</a>{%- endif -%}
          </div>
          {%- endif -%}
          
          {%- if block.settings.slide_img4 != blank -%}
          <div class="slideshow__slide slideshow__slide--{{ block.id }}-4" data-index="4" data-id="{{ block.id }}-4">
          {%- if block.settings.slide_img_link4 != blank -%}<a href="{{ block.settings.slide_img_link5 }}">{%- endif -%}
          <div class="hero__image-wrapper hero__image-wrapper--no-overlay">
            {%- assign img_url =block.settings.slide_img4 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
			<img class="hero__image lazyload"
                 data-widths="[239, 409, 865, 1730]"
                 data-src="{{ img_url }}"
                 data-aspectratio="{{ block.settings.slide_img4.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.slide_img4.image.alt | escape }}">
            <noscript>
              <img class="hero__image hero__image--{{ block.id }}-4"
                   src="{{ block.settings.slide_img4 | img_url: '905x' }}"
                   alt="{{ block.settings.slide_img4.alt | escape }}">
            </noscript>
            </div>
          {%- if block.settings.slide_img_link4 != blank -%}</a>{%- endif -%}
          </div>
          {%- endif -%}
          
          {%- if block.settings.slide_img5 != blank -%}
          <div class="slideshow__slide slideshow__slide--{{ block.id }}-5" data-index="5" data-id="{{ block.id }}-5">
          {%- if block.settings.slide_img_link5 != blank -%}<a href="{{ block.settings.slide_img_link5 }}">{%- endif -%}
          <div class="hero__image-wrapper hero__image-wrapper--no-overlay">
            {%- assign img_url =block.settings.slide_img5 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
			<img class="hero__image lazyload"
                 data-widths="[239, 409, 865, 1730]"
                 data-src="{{ img_url }}"
                 data-aspectratio="{{ block.settings.slide_img5.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.slide_img5.image.alt | escape }}">
            <noscript>
              <img class="hero__image hero__image--{{ block.id }}-5"
                   src="{{ block.settings.slide_img5 | img_url: '905x' }}"
                   alt="{{ block.settings.slide_img5.alt | escape }}">
            </noscript>
            </div>
           {%- if block.settings.slide_img_link5 != blank -%}</a>{%- endif -%}
          </div>
          {%- endif -%}
     </div>
</div>
</div>
</div>
{% style %}
.hero-natural--{{ block.id }} {
  height: 0;
  padding-bottom: {{ 100 | divided_by: block.settings.slide_img.aspect_ratio }}%;
}
{%- if block.settings.overlay_opacity > 0 -%}
.page-block-slideshow-section .hero__image-wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: #000;
  opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
}
{%- endif -%}

@media only screen and (max-width: 589px) {
	.hero-natural--{{ block.id }} {
      height: 0;
      padding-bottom: {{ block.settings.mobile_height }};
    }
}
{% endstyle %}

<script>
window.addEventListener('DOMContentLoaded', (event) => {
  	var slider_opts = {
      adaptiveHeight: false,
      autoPlay: {%- if block.settings.autoplay and block.settings.slide_size > 1 -%} {{ block.settings.autoplay_speed | times: 1000 }} {%- else -%}{{ block.settings.autoplay }}{%- endif -%},
      avoidReflow: false, 
      childNav: null, 
      childNavScroller: null, 
      childVertical: false,
      fade: true,
      initialIndex: 0,
      pageDots: {%- if block.settings.style == 'arrows' -%} false {%- else -%} true {%- endif -%},
      pauseAutoPlayOnHover: false,
      prevNextButtons: {%- if block.settings.style == 'arrows' -%} true {%- else -%} false {%- endif -%},
      rightToLeft: theme.config.rtl,
      setGallerySize: false,
      wrapAround: false
}  
    this.flickity = new theme.Slideshow(document.querySelector('#BlockSlideshowSection-{{ block.id }}'), slider_opts);
	theme.loadImageSection(document.querySelector('#BlockSlideshowSection-{{ block.id }}'));                                                          
});  
</script>