<div class="footer-custom-block">
  <ul class="footer-social-links">
    <li><a href="{{ settings.social_facebook_link }}">{{ 'general.social.facebook' | t }}</a></li>
    <li><a href="{{ settings.social_instagram_link }}">{{ 'general.social.instagram' | t }}</a></li>
    <li><a href="{{ settings.social_twitter_link }}">{{ 'general.social.twitter' | t }}</a></li>
    <li><a href="{{ settings.social_tiktok_link }}">{{ 'general.social.tiktok' | t }}</a></li>
    <li><a href="{{ settings.contact_us_link }}">{{ 'general.social.contact' | t }}</a></li>
  </ul>
</div>