<div class="footer-custom-block">
  <ul class="footer-policies">
    <li><a href="{{ settings.about_us }}">{{ 'layout.footer.about_us' | t }}</a></li>
    <li><a href="{{ settings.faqs }}">{{ 'layout.footer.faqs' | t }}</a></li>
    <li><a href="{{ settings.pickup_in_store }}">{{ 'layout.footer.pickup_in_store' | t }}</a></li>
    <li><a href="{{ settings.privacy_policy }}">{{ 'layout.footer.privacy_policy' | t }}</a></li>
    <li><a href="{{ settings.terms_of_service }}">{{ 'layout.footer.terms_of_service' | t }}</a></li>
  </ul>
</div>
<div class="footer-store-list text-center">
  <a href="{{ settings.stores_list }}">{{ 'layout.footer.stores_list' | t }}</a>  
</div>