{%- assign basic_menu = linklists[block.settings.basic_menu_link_list] -%}
{%- assign basic_menu2 = linklists[block.settings.basic_menu_link_list2] -%}
{%- assign basic_menu3 = linklists[block.settings.basic_menu_link_list3] -%}
{%- assign basic_menu4 = linklists[block.settings.basic_menu_link_list4] -%}
{%- assign basic_menu5 = linklists[block.settings.basic_menu_link_list5] -%}
{%- assign basic_menu6 = linklists[block.settings.basic_menu_link_list7] -%}
{%- assign basic_menu7 = linklists[block.settings.basic_menu_link_list7] -%}
{%- assign basic_menu8 = linklists[block.settings.basic_menu_link_list8] -%}

{%- assign row_menu2 = linklists[block.settings.basic_menu_row_link_list2] -%}
{%- assign row_menu3 = linklists[block.settings.basic_menu_row_link_list3] -%}

{%- assign row2_menu2 = linklists[block.settings.basic_menu2_row_link_list2] -%}
{%- assign row2_menu3 = linklists[block.settings.basic_menu2_row_link_list3] -%}

{%- assign row3_menu2 = linklists[block.settings.basic_menu3_row_link_list2] -%}
{%- assign row3_menu3 = linklists[block.settings.basic_menu3_row_link_list3] -%}

{%- assign row4_menu2 = linklists[block.settings.basic_menu4_row_link_list2] -%}
{%- assign row4_menu3 = linklists[block.settings.basic_menu4_row_link_list3] -%}

{%- assign row5_menu2 = linklists[block.settings.basic_menu5_row_link_list2] -%}
{%- assign row5_menu3 = linklists[block.settings.basic_menu5_row_link_list3] -%}

{%- assign row6_menu2 = linklists[block.settings.basic_menu6_row_link_list2] -%}
{%- assign row6_menu3 = linklists[block.settings.basic_menu6_row_link_list3] -%}

{%- assign row7_menu2 = linklists[block.settings.basic_menu7_row_link_list2] -%}
{%- assign row7_menu3 = linklists[block.settings.basic_menu7_row_link_list3] -%}

{%- assign row8_menu2 = linklists[block.settings.basic_menu8_row_link_list2] -%}
{%- assign row8_menu3 = linklists[block.settings.basic_menu8_row_link_list3] -%}

<div class="mega-menu-column {{ block.settings.megamenu_column_class }}" style="width: {{block.settings.megamenu_column_width }}%;" {{ block.shopify_attributes }}>
  {% if block.settings.megamenu_column == 'basic' %}
  <div class="mega-menu-block {{block.settings.megamenu_column}}">
  <span class="mega-menu-title">{{ block.settings.megamenu_column_title }} </span>
  {% for link in basic_menu.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column == 'image' %} 
  <a href="{{ block.settings.mega_menu_img_r1_link }}">
    {% assign img_url = block.settings.mega_menu_img_r1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 257, 268, 277, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu_img_r1.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu_img_r1.alt | escape }}" />
  </a>
  {% elsif block.settings.megamenu_column == 'html' %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu_html_r1 }}
  </div>
  {% elsif block.settings.megamenu_column == 'simple' %}
  <div class="mega-menu-block mega-menu-simple">
  <a href="{{ block.settings.mega_menu_simple_r1_link }}">{{ block.settings.mega_menu_simple_r1 }}</a>
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows > 1 and block.settings.megamenu_row2_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu_row_title2 }} </span>
  {% for link in row_menu2.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif  block.settings.megamenu_column_rows > 1 and block.settings.megamenu_row2_type == 'image'  %}
  <div class="mega-menu-block mega-menu-margin-top-20">
  <a href="{{ block.settings.mega_menu_img_r2_link }}">
    {% assign img_url = block.settings.mega_menu_img_r2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 257, 268, 277, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu_img_r2.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu_img_r2.alt | escape }}" /></a>
  </div>
  {% elsif  block.settings.megamenu_column_rows > 1 and block.settings.megamenu_row2_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu_html_r2 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows > 2 and block.settings.megamenu_row3_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu_row_title3 }} </span>
  {% for link in row_menu3.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif  block.settings.megamenu_column_rows > 2 and block.settings.megamenu_row3_type == 'image'  %}
  <div class="mega-menu-block">
  <a href="{{ block.settings.mega_menu_img_r3_link }}">
  {% assign img_url = block.settings.mega_menu_img_r2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}    
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu_img_r3.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu_img_r3.alt | escape }}" /></a>
  </div>
  {% elsif  block.settings.megamenu_column_rows > 2 and block.settings.megamenu_row3_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu_html_r3 }}
  </div>
  {% endif %}
</div>

{% if block.settings.megamenu_column_width2 != 0 %}
<div class="mega-menu-column {{ block.settings.megamenu_column_class2 }}" style="width: {{block.settings.megamenu_column_width2 }}%;" {{ block.shopify_attributes }}>
  {% if block.settings.megamenu_column2 == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.megamenu_column_title2 }} </span>
  {% for link in basic_menu2.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column2 == 'image' %}
  <a href="{{ block.settings.mega_menu2_img_r1_link }}">
    {% assign img_url = block.settings.mega_menu2_img_r1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu2_img_r1.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu2_img_r1.alt | escape }}" /></a>
  {% elsif block.settings.megamenu_column2 == 'html' %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu2_html_r1 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows2 > 1 and block.settings.megamenu2_row2_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu2_row_title2 }} </span>
  {% for link in row2_menu2.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows2 > 1 and block.settings.megamenu2_row2_type == 'image'  %}
  <div class="mega-menu-block mega-menu-margin-top-20">
  <a href="{{ block.settings.mega_menu2_img_r2_link }}">
    {% assign img_url = block.settings.mega_menu2_img_r2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu2_img_r2.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu2_img_r2.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows2 > 1 and block.settings.megamenu2_row2_type == 'html'  %}
   <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu2_html_r2 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows2 > 2 and block.settings.megamenu2_row3_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu2_row_title3 }} </span>
  {% for link in row_menu3.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows2 > 2 and block.settings.megamenu2_row3_type == 'image'  %}
  <div class="mega-menu-block mega-menu-margin-top-20">
  <a href="{{ block.settings.mega_menu2_img_r3_link }}">
    {% assign img_url = block.settings.mega_menu2_img_r3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu2_img_r3.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu2_img_r3.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows2 > 1 and block.settings.megamenu2_row3_type == 'html'  %}
   <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu2_html_r3 }}
  </div>
  {% endif %}
</div>
{% endif %}

{% if block.settings.megamenu_column_width3 != 0 %}
<div class="mega-menu-column {{ block.settings.megamenu_column_class3 }}" style="width:  {{block.settings.megamenu_column_width3 }}%"; {{ block.shopify_attributes }}>
  {% if block.settings.megamenu_column3 == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.megamenu_column_title3 }} </span>
  {% for link in basic_menu3.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column3 == 'image' %}
  <a href="{{ block.settings.mega_menu3_img_r1_link }}">
    {% assign img_url = block.settings.mega_menu3_img_r1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu3_img_r1.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu3_img_r1.alt | escape }}" /></a>
  {% elsif block.settings.megamenu_column3 == 'html' %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu3_html_r1 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows3 > 1 and block.settings.megamenu3_row2_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu3_row_title2 }} </span>
  {% for link in row3_menu2.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows3 > 1 and block.settings.megamenu3_row2_type == 'image'  %}
  <div class="mega-menu-block mega-menu-margin-top-20">
  <a href="{{ block.settings.mega_menu3_img_r2_link }}">
    {% assign img_url = block.settings.mega_menu3_img_r2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu3_img_r2.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu3_img_r2.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows3 > 1 and block.settings.megamenu3_row2_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu3_html_r2 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows3 > 2 and block.settings.megamenu3_row3_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu3_row_title3 }} </span>
  {% for link in row_menu3.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows3 > 2 and block.settings.megamenu3_row3_type == 'image'  %}
  <div class="mega-menu-block mega-menu-margin-top-20">
  <a href="{{ block.settings.mega_menu3_img_r3_link }}">
    {% assign img_url = block.settings.mega_menu3_img_r3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu3_img_r3.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu3_img_r3.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows3 > 2 and block.settings.megamenu3_row3_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu3_html_r3 }}
  </div>
  {% endif %}
</div>
{% endif %}

{% if block.settings.megamenu_column_width4 != 0 %}
<div class="mega-menu-column {{ block.settings.megamenu_column_class4 }}" style="width: {{block.settings.megamenu_column_width4 }}%;" {{ block.shopify_attributes }}>
  {% if block.settings.megamenu_column4 == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.megamenu_column_title4 }} </span>
  {% for link in basic_menu4.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column4 == 'image' %}
  <a href="{{ block.settings.mega_menu4_img_r1_link }}">
    {% assign img_url = block.settings.mega_menu4_img_r1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 320, 400]"
               data-aspectratio="{{ block.settings.mega_menu4_img_r1.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu4_img_r1.alt | escape }}" /></a>
  {% elsif block.settings.megamenu_column4 == 'html' %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu4_html_r1 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows4 > 1 and block.settings.megamenu4_row2_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu4_row_title2 }} </span>
  {% for link in row4_menu2.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows4 > 1 and block.settings.megamenu4_row2_type == 'image'  %}
  <div class="mega-menu-block mega-menu-margin-top-20">
  <a href="{{ block.settings.mega_menu4_img_r2_link }}">
    {% assign img_url = block.settings.mega_menu4_img_r2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 320, 400]"
               data-aspectratio="{{ block.settings.mega_menu4_img_r2.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu4_img_r2.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows4 > 1 and block.settings.megamenu4_row2_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu4_html_r2 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows4 > 2 and block.settings.megamenu4_row3_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu4_row_title3 }} </span>
  {% for link in row_menu4.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows4 > 2 and block.settings.megamenu4_row3_type == 'image'  %}
  <div class="mega-menu-block mega-menu-margin-top-20">
  <a href="{{ block.settings.mega_menu4_img_r3_link }}">
    {% assign img_url = block.settings.mega_menu4_img_r3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 400]"
               data-aspectratio="{{ block.settings.mega_menu4_img_r3.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu4_img_r3.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows4 > 2 and block.settings.megamenu4_row3_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu4_html_r3 }}
  </div>
  {% endif %}
</div>
{% endif %}

{% if block.settings.megamenu_column_width5 != 0 %}
<div class="mega-menu-column {{ block.settings.megamenu_column_class5 }}" style="width: {{block.settings.megamenu_column_width5 }}%;" {{ block.shopify_attributes }}>
  {% if block.settings.megamenu_column5 == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.megamenu_column_title5 }} </span>
  {% for link in basic_menu5.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column5 == 'image' %}
  <a href="{{ block.settings.mega_menu5_img_r1_link }}">
    {% assign img_url = block.settings.mega_menu5_img_r1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 257, 285, 320, 400]"
               data-aspectratio="{{ block.settings.mega_menu5_img_r1.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu5_img_r1.alt | escape }}" /></a>
  {% elsif block.settings.megamenu_column5 == 'html' %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu5_html_r1 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows5 > 1 and block.settings.megamenu5_row2_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu5_row_title2 }} </span>
  {% for link in row5_menu2.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows5 > 1 and block.settings.megamenu5_row2_type == 'image'  %}
  <div class="mega-menu-block">
  <a href="{{ block.settings.mega_menu5_img_r2_link }}">
    {% assign img_url = block.settings.mega_menu5_img_r2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 257, 285, 320, 400]"
               data-aspectratio="{{ block.settings.mega_menu5_img_r2.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu5_img_r2.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows5 > 1 and block.settings.megamenu5_row2_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu5_html_r2 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows5 > 2 and block.settings.megamenu5_row3_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu5_row_title3 }} </span>
  {% for link in row_menu5.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows5 > 2 and block.settings.megamenu5_row3_type == 'image'  %}
  <div class="mega-menu-block">
  <a href="{{ block.settings.mega_menu5_img_r3_link }}">
    {% assign img_url = block.settings.mega_menu5_img_r3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 257, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu5_img_r3.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu5_img_r3.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows5 > 2 and block.settings.megamenu5_row3_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu5_html_r3 }}
  </div>
  {% endif %}
</div>
{% endif %}

{% if block.settings.megamenu_column_width6 != 0 %}
<div class="mega-menu-column {{ block.settings.megamenu_column_class6 }}" style="width:  {{block.settings.megamenu_column_width6 }}%;" {{ block.shopify_attributes }}>
  {% if block.settings.megamenu_column6 == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.megamenu_column_title6 }} </span>
  {% for link in basic_menu6.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column6 == 'image' %}
  <a href="{{ block.settings.mega_menu6_img_r1_link }}">
    {% assign img_url = block.settings.mega_menu6_img_r1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 257, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu6_img_r1.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu6_img_r1.alt | escape }}" /></a>
  {% elsif block.settings.megamenu_column6 == 'html' %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu6_html_r1 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows6 > 1 and block.settings.megamenu6_row2_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu6_row_title2 }} </span>
  {% for link in row6_menu2.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows6 > 1 and block.settings.megamenu6_row2_type == 'image'  %}
  <div class="mega-menu-block">
   <a href="{{ block.settings.mega_menu6_img_r2_link }}">
     {% assign img_url = block.settings.mega_menu6_img_r2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
     <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 257, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu6_img_r2.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu6_img_r2.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows6 > 1 and block.settings.megamenu6_row2_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu6_html_r2 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows6 > 2 and block.settings.megamenu6_row3_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu6_row_title3 }} </span>
  {% for link in row_menu6.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows6 > 2 and block.settings.megamenu6_row3_type == 'image'  %}
  <div class="mega-menu-block">
   <a href="{{ block.settings.mega_menu6_img_r3_link }}">
     {% assign img_url = block.settings.mega_menu6_img_r3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
     <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu6_img_r3.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu6_img_r3.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows6 > 2 and block.settings.megamenu6_row3_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu6_html_r3 }}
  </div>
  {% endif %}
</div>
{% endif %}

{% if block.settings.megamenu_column_width7 != 0 %}
<div class="mega-menu-column {{ block.settings.megamenu_column_class7 }}" style="width: {{block.settings.megamenu_column_width7 }}%;" {{ block.shopify_attributes }}>
  {% if block.settings.megamenu_column7 == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.megamenu_column_title7 }} </span>
  {% for link in basic_menu7.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column7 == 'image' %}
  <a href="{{ block.settings.mega_menu7_img_r1_link }}">
    {% assign img_url = block.settings.mega_menu7_img_r1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu7_img_r1.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu7_img_r1.alt | escape }}" /></a>
  {% elsif block.settings.megamenu_column7 == 'html' %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu7_html_r1 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows7 > 1 and block.settings.megamenu7_row2_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu7_row_title2 }} </span>
  {% for link in row7_menu2.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows7 > 1 and block.settings.megamenu7_row2_type == 'image'  %}
  <div class="mega-menu-block">
  <a href="{{ block.settings.mega_menu7_img_r2_link }}">
    {% assign img_url = block.settings.mega_menu7_img_r2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu7_img_r2.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu7_img_r2.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows7 > 1 and block.settings.megamenu7_row2_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu7_html_r2 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows7 > 2 and block.settings.megamenu7_row3_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu7_row_title3 }} </span>
  {% for link in row_menu7.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows7 > 2 and block.settings.megamenu7_row3_type == 'image'  %}
  <div class="mega-menu-block">
  <a href="{{ block.settings.mega_menu7_img_r3_link }}">
    {% assign img_url = block.settings.mega_menu7_img_r3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu7_img_r3.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu7_img_r3.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows7 > 2 and block.settings.megamenu7_row3_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu7_html_r3 }}
  </div>
  {% endif %}
</div>
{% endif %}

{% if block.settings.megamenu_column_width8 != 0 %}
<div class="mega-menu-column {{ block.settings.megamenu_column_class8 }}" style="width: {{block.settings.megamenu_column_width8 }}%;" {{ block.shopify_attributes }}>
  {% if block.settings.megamenu_column8 == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.megamenu_column_title8 }} </span>
  {% for link in basic_menu8.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column8 == 'image' %}
  <a href="{{ block.settings.mega_menu8_img_r1_link }}">
    {% assign img_url = block.settings.mega_menu8_img_r1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu8_img_r1.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu8_img_r1.alt | escape }}" /></a>
  {% elsif block.settings.megamenu_column8 == 'html' %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu8_html_r1 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows8 > 1 and block.settings.megamenu8_row2_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu8_row_title2 }} </span>
  {% for link in row8_menu2.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows8 > 1 and block.settings.megamenu8_row2_type == 'image'  %}
  <div class="mega-menu-block">
  <a href="{{ block.settings.mega_menu8_img_r2_link }}">
    {% assign img_url = block.settings.mega_menu8_img_r2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu8_img_r2.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu8_img_r2.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows8 > 1 and block.settings.megamenu8_row2_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu8_html_r2 }}
  </div>
  {% endif %}
  
  {% if block.settings.megamenu_column_rows8 > 2 and block.settings.megamenu8_row3_type == 'basic' %}
  <div class="mega-menu-block">
  <span class="mega-menu-title">{{ block.settings.basic_menu8_row_title3 }} </span>
  {% for link in row_menu8.links %}
  <a {% if link.title contains 'SALE' %}class="sale-link"{% endif %}href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  </div>
  {% elsif block.settings.megamenu_column_rows8 > 2 and block.settings.megamenu8_row3_type == 'image'  %}
  <div class="mega-menu-block">
  <a href="{{ block.settings.mega_menu8_img_r3_link }}">
    {% assign img_url = block.settings.mega_menu8_img_r3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[177, 247, 268, 285, 320, 354, 400]"
               data-aspectratio="{{ block.settings.mega_menu8_img_r3.aspect_ratio }}"
               data-sizes="auto"
               data-parent-fit="cover"
               alt="{{ block.settings.mega_menu8_img_r3.alt | escape }}" /></a>
  </div>
  {% elsif block.settings.megamenu_column_rows8 > 2 and block.settings.megamenu8_row3_type == 'html'  %}
  <div class="mega-menu-block mega-menu-html">
  {{ block.settings.mega_menu8_html_r3 }}
  </div>
  {% endif %}
</div>
{% endif %}