{{ 'mobile-bottom-nav.css' | asset_url | stylesheet_tag }}
<div class="bottom-nav-container medium-up--hide">
  <div class="grid bottom-nav-inner">
    <div class="bottom-list one-quarter">
      <div class="bottom-list-container" align="center">
      <a class="site-nav__link site-nav__link--icon" href="/">
          {%- render 'icon-home' -%}
        </a>
      </div>
    </div>

    {%- if shop.customer_accounts_enabled -%}
    <div class="bottom-list one-quarter">
        <a class="site-nav__link site-nav__link--icon" href="/account">
          {% render 'icon-account' %}
          <span class="icon__fallback-text">
            {% if customer %}
              {{ 'layout.customer.account' | t }}
            {% else %}
              {{ 'layout.customer.log_in' | t }}
            {% endif %}
          </span>
        </a>
    </div>
    {%- endif -%}
    
    <div class="bottom-list one-quarter">
      <button type="button" class="site-nav__link site-nav__link--icon site-nav__link site-nav__link--icon js-drawer-open-nav">
      {%- render 'icon-menu' -%}
      </button>
    </div>
  
    <div class="bottom-list one-quarter">
      <a class="site-nav__link site-nav__link--icon" href="/apps/advanced-wishlist">
      {%- render 'icon-wishlist' -%}
      </a>
    </div>

    <div class="bottom-list one-quarter">
      <a class="site-nav__link site-nav__link--icon site-nav__link site-nav__link--icon js-drawer-open-cart js-no-transition" aria-controls="CartDrawer" data-icon="{{ settings.cart_icon }} href="{{ routes.search_url }}">
      {%- render 'icon-bag' -%}
      </a>
    </div>
  </div>
</div>