<div
  id="ModalHelper"
  class="modal modal--square modal--mobile-friendly"
  data-section-id="{{ section.id }}"
  data-section-type="helper-popup">
  <div class="modal__inner">
    <div class="modal__centered medium-up--text-center">
      <div class="modal__centered-content">    
         <h3 class="text-center" style="display: none;">{{ 'cart.general.errors' | t }}</h3>

		 <div class="helper-message">
              <span></span>
               <div class="modal-buttons" style="display: none;">
                   <a href="#" class="cancel-btn margin-right-15" onclick="cancelHelper()">{{ 'customer.addresses.cancel' | t }}</a>
                   <a href="#" class="btn confirm-delete-address js-no-transition">{{ 'customer.addresses.delete' | t }}</a>
               </div>
                <div class="modal-buttons-for-preorder" style="display: none;">
                    {%- if settings.preorder_enable -%}
                    {%- if settings.preorder_limited -%}
                  	{%- if customer and customer.tags contains settings.preorder_limited_tag
                  	<a href="#" class="btn display-items-preorder preorder-modal-buttons" onclick='displayItems("preorder")';>{{ 'cart.preorder.remove_preorder' | t }}</a>
                    <a href="#" class="btn display-items-regular preorder-modal-buttons" onclick='displayItems("regular");'>{{ 'cart.preorder.remove_regular' | t }}</a>
                  	{%- else -%}
                  	<a href="#" class="btn display-items-preorder preorder-modal-buttons" onclick='displayItems("preorder")';>{{ 'cart.preorder.remove_preorder' | t }}</a>
                  	{%- endif -%}
                    {%- else -%}
                    <a href="#" class="btn display-items-preorder preorder-modal-buttons" onclick='displayItems("preorder")';>{{ 'cart.preorder.remove_preorder' | t }}</a>
                    <a href="#" class="btn display-items-regular preorder-modal-buttons" onclick='displayItems("regular");'>{{ 'cart.preorder.remove_regular' | t }}</a>
                    {%- endif -%}
                    {%- endif -%}
               </div>
         </div>
         <div class="preorder-items text-center" style="display: none;"></div>
         <div class="multiple-helper-message text-center" style="display: none;"><span></span></div>
         <div class="update-button-for-preorder text-center" style="display: none;">
          <a href="#" class="btn update-items-preorder margin-top-15" onclick='updateItems();'>{{ 'cart.general.update' | t }}</a>
         </div>

         <button type="button" class="text-close js-modal-close">{{ section.settings.close_text }}</button>
        
      </div>

      <button type="button" class="modal__close modal-helper-close text-link">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>
  </div>
</div>

<script>
window.onload = function() {
  var modal = document.getElementById('ModalHelper');
  
  document.querySelector('.confirm-delete-address').addEventListener('click', function(e) {
    closeHelper(e.target);
    var formId = this.getAttribute('form-id');

    if (Shopify) {
      Shopify.postLink('/account/addresses/' + formId, {parameters: {_method: 'delete'}});
    }
  });

  modal.querySelector('.modal-helper-close').addEventListener('click', closeHelper);
  window.onclick = function(e) {
      if (e.target == modal && document.querySelector('.pre-order-modal') == null || e.target == document.getElementById('modal-gwp')) {
          closeHelper(e.target);
      }
  }

  function closeHelper(elem) {
    if (elem.classList == undefined) { elem = document.querySelector('.modal.modal--is-active'); }
	elem.classList.remove('modal--is-active');
    document.querySelector('body').classList.remove('modal-open');
  }
}
</script>