{%- assign img_url = img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

<div class="grid__item grid-product {{ grid_item_width }} aos-init aos-animate" data-aos="row-of-{{ per_row }}">
   <div class="grid-product__content ">
      <a href="{{ featured_url }}" class="grid-product__link">
         <div class="grid-product__image-mask">
               <div
                class="grid__image-ratio grid__image-ratio--portrait">
                <img class="lazyload grid__image-contain"
                    data-src="{{ img_url }}"
                    data-widths="[422, 540, 720, 900, 1080]"
                    data-aspectratio="{{ img.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ img.alt | escape }}">
          		</div>
         </div>
      </a>
   </div>
</div>