{% style %}
.section-header--404 {
  padding: 0;
  margin-bottom: 25px;
}
.member-exclusive {
  width: auto;
  margin: 0 auto 25px;
}
@media only screen and (min-width: 590px) {
  .member-exclusive {
    width: 512px;
  }
}
{% endstyle %}
<div class="page-width page-content text-center">
  {%- if type == 'default' -%}
  <div class="member-exclusive">
  {%- assign img_url = 'MEMBER_EXCLUSIVE_PROFILE_UPDATE_BANNER_BORDER.jpg' | file_img_url: '512x' -%}
  <img class="lazyload aos-animate" loading="lazy"
    data-widths="[512]"
    data-src="{{ img_url }}"
    data-aspectratio="{{ block.settings.image.aspect_ratio }}"
    data-sizes="auto"
    alt="{{ block.settings.image.alt | escape }}">

  <noscript>
    <img class="lazyloaded"
      src="{{ block.settings.image | img_url: '512' }}"
      alt="{{ block.settings.image.alt | escape }}">
  </noscript>
  </div>
  <p>{{ 'general.member_exclusive.restricted_html' | t }}</p>
  <a href="/account/register" class="btn">{{ 'general.member_exclusive.register' | t }}</a>
  <a href="/account/login" class="btn">{{ 'general.member_exclusive.login' | t }}</a>
  {% else %}
  <p>{{ 'general.member_exclusive.update_html' | t }}</p>
  <a href="/tools/customr/edit-account" class="btn">{{ 'general.member_exclusive.update' | t }}</a>
  {%- endif -%}
</div>