<div class="scrolling-anouncement-container">
  {%- if section.settings.announcement_end_date != blank -%}<div class="small--hide center-scrolling-announcement"></div>{%- endif -%}
  <div class="swiper" id="announcement-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p class="announcement-text">{% if section.settings.slide1_link != "" %}<a href="{{section.settings.slide1_link}}">{{section.settings.slide1_text}}</a>{% else %} {{section.settings.slide1_text}} {% endif %}</p>
 	  </div>
      {%- if section.settings.slide2_text != blank -%}
      <div class="swiper-slide">
        <p class="announcement-text">{% if section.settings.slide2_link != "" %}<a href="{{section.settings.slide2_link}}">{{section.settings.slide2_text}}</a>{% else %} {{section.settings.slide2_text}} {% endif %}</p>
	  </div>
      {%- endif -%}
      {%- if section.settings.slide3_text != blank -%}
      <div class="swiper-slide">
        <p class="announcement-text">{% if section.settings.slide3_link != "" %}<a href="{{section.settings.slide3_link}}">{{section.settings.slide3_text}}</a>{% else %} {{section.settings.slide3_text}} {% endif %}</p>
      </div>
      {% endif %}
    </div>
  </div>
{%- if section.settings.announcement_end_date != blank -%}{% render 'timer' %}{%- endif -%}
</div>

{% style %}
#shopify-section-{{ section.id }} .swiper {
	{%- if  section.settings.slide2_text != blank or section.settings.slide3_text != blank -%}
	overflow:hidden;
	{%- endif -%}
	height: auto;
	max-height: {%- if section.settings.announcement_end_date != blank -%}50{% else %}45{% endif %}px;
}

.scrolling-anouncement-container {
  	background: {{ section.settings.scrolling_announcement_bg }};
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: 100%;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
}
  
.scrolling-announcement-asset {
    align-self: center;
    width: 300px;
  	text-align: left;
}
  
.swiper {
    width: 100%;
}

#shopify-section-{{ section.id }} .swiper .swiper-slide {
	display: flex;
}

.announcement-text {
 	margin-bottom: 0;
	color: {{ section.settings.scrolling_announcement_text_color }};
	padding: 0.45rem 0;
	align-self: center;
    width: 100%;
	font-size: 0.7rem;
    font-family:var(--typeBasePrimary),var(--typeBaseFallback);
    letter-spacing: 1.5px;
    transition: opacity 0.75s ease;
    text-align: center;
}

.announcement-text .shop-now {
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: underline !important;
	text-underline-offset: 2px;
	color: {{ section.settings.scrolling_announcement_text_color }};
}
  
.announcement-text a {
 	text-decoration: none !important;
	color: {{ section.settings.scrolling_announcement_text_color }};
}
  
a span.glyphicon {
	font-size: 20px !important; 
}

.announcement-timer p {
  margin-bottom: 0;
  color: #000;
}

.announcement-timer--super {
  font-size: 9px;
  display: block;
}

.announcement-timer-block {
  background-color: #000;
  padding: 5px 20px;
  display: inline-block;
  border-radius: 3px;
}

.announcement-timer {
  align-self: center;
  margin: 0;
  width: auto;
  text-align: right;
  display: inline-flex;
}

.announcement-timer-block {
  background-color: #FFF;
  padding: 5px 20px;
  margin: 5px;
  display: inline-block;
  border-radius: 3px;
}
  
@media all and (max-width: 1080px) {
 	.announcement-timer-block {
    	padding: 1px 15px;
    }
}
  
@media all and (max-width: 869px) {  
    .scrolling-announcement-asset {
     	display: none !important; 
    }
}
  
@media all and (max-width: 808px) {
 	.scrolling-anouncement-container {
    	padding: 0 10px;
    }
}
  
@media all and (max-width: 768px) {
 	.announcement-timer--super {
     	font-size: 8px; 
    }
  
  	.announcement-timer--days,
  	.announcement-timer--hrs,
  	.announcement-timer--mins,
  	.announcement-timer--secs {
     	font-size: 12px; 
    }
  
  	.announcement-half {
     	width: 50%; 
    }
}

@media all and (max-width: 589px) {
	.#announcement-swiper {
		max-height: 90px;
	}
	.announcement-text {
		font-size: 9px;
	}
}
{% endstyle %}

{%- if  section.settings.slide2_text != blank or section.settings.slide3_text != blank -%}
<script>
const swiper_announcement = new Swiper('#announcement-swiper', {
  speed: 1500,
  direction: 'vertical',
  loop: true,
  autoplay: {
     delay: {{ section.settings.announcement_speed }}
  }
});
</script>
{%- endif -%}