<div class="scrolling-text">
  <div class="scrolling-text__content">
    <ul class="scrolling-text__list">
        {{ section.settings.text }}
      
        {{ section.settings.text }}
      
        {{ section.settings.text }}
      
        {{ section.settings.text }}
    </ul>
    
    {%- if section.settings.number_of_promotions < 3 -%}
    <ul class="scrolling-text__list">
        {{ section.settings.text }}
      
        {{ section.settings.text }}
      
        {{ section.settings.text }}
      
        {{ section.settings.text }}
    </ul>
    {%- endif -%}
  </div>
</div>

{%- style -%}
.scrolling-text {
	margin: 0 auto;
	width: 100%;
	height: auto;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
    background-color: {{ section.settings.bg_color }};
	top: 0px;
}

.scrolling-text__content {
	width: 300% !important;
	display: flex;
  	animation: marquee {{ section.settings.speed }}s linear infinite forwards;
}
  
.scrolling-text__content:hover {
 	animation-play-state: paused; 
}

.scrolling-text__list {
	display: flex;
	justify-content: center;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
 
.scrolling-text__item {
  	color: {{ section.settings.text_color }};
  	padding: 5px 5px 5px 0;
  	font-size: 0.8rem;
	margin-bottom: 0;
}
  
.scrolling-text__item span {
  	color: {{ section.settings.link_color }};
  	text-transform: uppercase;
  	font-family:var(--typeHeaderPrimary),var(--typeHeaderFallback);
    font-weight: 700;
    letter-spacing: 2px;
}
  
.scrolling-text__item:after {
 content: "•";
 display: inline-block;
}

@keyframes marquee {
	0% {
		transform: translateX(-15%);
	}
	100% {
		transform: translateX(-66.6%);
	}
}

@media only screen and (max-width: 569px) {
	.scrolling-text__content {
		width: 450% !important;
	}

	.scrolling-text__item {
		font-size: 0.75rem;
	}
    .scrolling-text__content:hover {
     	animation-play-state: running; 
    }
}
{%- endstyle -%}