{{ 'size-guide.css' | asset_url | stylesheet_tag }}
<div id="QuicksizeHolder-{{ product.handle }}" class="size-images-container" data-tags="{{product.tags}}">                                   
  {%- comment -%}<!-- PENSHOPPE CORE -->{%- endcomment -%}

  {%- if product.tags contains "Core" or product.title contains "Core" -%}
  {%- if product.type contains "Women's Underwear" -%}
  {%- if product.tags contains "Bikini Panty" or product.title contains "Bikini" -%}                 
  {%- assign img_url = 'mobile-BIKINI_-_IN.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Seamless Panty" -%}
  {%- assign img_url = 'SEAMLESS_PANTY_-_IN_1.png' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "Hipster Panty" or product.title contains "Hipster" -%}                      
  {%- assign img_url = 'mobile-HIPSTER_-_IN.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}												                   
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "Multiway Bra" or product.title contains "Multi-way" -%}                     
  {%- assign img_url = 'mobile-MULTIWAY_-_IN.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "T-Shirt Bra" or product.title contains "T-Shirt" -%}                    
  {%- assign img_url = 'mobile-TSHIRT_-_IN.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "Wireless Bra" or product.title contains "Wireless" -%}                      
  {%- assign img_url = 'mobile-WIRELESS_-_IN.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Seamless Bra" -%}                    
  {%- assign img_url = 'piw_fit_guide_seamless_inches-07.png' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Woven" -%}                    
  {%- assign img_url = 'WOMENS_BOXER_-_IN.png' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- endif -%}
  {%- elsif product.type contains "Men's Underwear" -%}
  {%- if product.title contains "Boxer Briefs" or product.title contains "Boxer Brief" -%}                     
  {%- assign img_url = 'mobile-BOXER_-_IN.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Woven" -%}                     
  {%- assign img_url = 'MENS_BOXER_-_CM.png' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "core_loungewear" -%}                     
  {%- assign img_url = 'LOUNGE_SET_PIW_FIT_GUIDE-_MOBILE_LOUNGE_WEAR_INCHES.png' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%}                    
  {%- assign img_url = 'mobile-BRIEF_-_IN.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- endif -%}
  {%- endif -%}

  {%- comment -%}<!-- MEN'S BOTTOMS -->{%- endcomment -%}
  {%- elsif product.tags contains "Men's Bottoms" -%}

  {%- comment -%}<!-- MEN'S JEANS -->{%- endcomment -%}
  {%- if product.type contains "Men's Jeans" or product.tags contains "Men's Jeans" or product.tags contains "mens-jeans" -%}
  {%- if product.tags contains "super-skinny" or product.tags contains "powerflex" or product.tags contains "supr-skinny" or product.tags contains "super-skinny-jeans" or product.tags contains "super-skinny-fit-jeans" -%}                          
  {%- assign img_url = 'SUPER_SKINNY_JEANS-_INCHES_3befe827-75cd-4b49-87b7-f7b6765be7e0.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "skinny" -%}                    
  {%- assign img_url = 'SKINNY_FIT_JEANS-INCHES_5c01cd85-a3c7-490f-9bac-a8d1daaa3719.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "slim" -%}                        
  {%- assign img_url = 'SLIM_FIT_JEANS-INCHES_b2d37085-251d-4f6b-bf4e-fb50271e6bc4.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "carrot" or product.tags contains "carrot-fit-jeans" -%}                    
  {%- assign img_url = 'CARROT_FIT_JEANS-INCHES_be0be115-9ff6-4186-8976-d114a7c3e75d.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {% elsif product.tags contains "straight" or product.tags contains "straight-fit" or product.tags contains "straight-relaxed-leg-fit" %}
  {%- assign img_url = 'STRAIGHT_FIT_JEANS-INCHES_1.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">


  {%- else -%}{%- comment -%}<!-- return skinny fit -->{%- endcomment -%}                        
  {%- assign img_url = 'SKINNY_FIT_JEANS-INCHES_5c01cd85-a3c7-490f-9bac-a8d1daaa3719.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- endif -%}

  {%- comment -%}<!-- MENS SHORTS -->{%- endcomment -%}
  {%- elsif product.type contains "Men's Shorts" or product.tags contains "Men's Shorts" or product.tags contains "mens-shorts" -%}

  {%- if product.title contains "Trainer" or product.tags contains "trainer-fit-shorts" -%}                         
  {%- assign img_url = 'TRAINER_FIT_SHORTS-INCHES_fbfc7fa8-ecdd-4467-af8b-caf07069dc01.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "modern-fit-shorts" -%}                         
  {%- assign img_url = 'MODERN_FIT_SHORTS-INCHES_cf9aba0f-fc51-4397-bdac-3ee2e76f3686.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "regular-fit-shorts" or product.tags contains "regular" -%}                           
  {%- assign img_url = 'REGULAR_FIT_SHORTS-INCHES_6eb995b5-cfc3-4fc9-84a7-71e4382a6e13.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "tapered" or product.tags contains "tapered-fit-shorts" -%}                           
  {%- assign img_url = 'TAPERED_FIT_SHORTS-INCHES_cb9f4a0c-b018-4531-b769-ee7084ac4e67.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%} {%- comment -%}<!-- return regular -->{%- endcomment -%}                      
  {%- assign img_url = 'REGULAR_FIT_SHORTS-INCHES_6eb995b5-cfc3-4fc9-84a7-71e4382a6e13.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- endif -%}

  {%- comment -%}<!-- MEN'S SWIMWEAR -->{%- endcomment -%}
  {%- elsif product.tags contains "Swimwear"%}

  {%- if product.title contains "regular" -%}                         
  {%- assign img_url = 'TRAINER_SWIMWEAR-INCHES_83194b9d-7ac4-4a9e-a5ea-7ecd4ed971ff.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- elsif product.title contains "modern" -%}                        
  {%- assign img_url = 'MODERN_FIT_SWIMWEAR-INCHES_1.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- else -%} {%- comment -%}<!-- return Regular (Trainer) -->{%- endcomment -%}                       
  {%- assign img_url = 'TRAINER_SWIMWEAR-INCHES_83194b9d-7ac4-4a9e-a5ea-7ecd4ed971ff.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- endif -%}


  {%- comment -%}<!-- MEN'S TROUSERS & TRACKPANTS -->{%- endcomment -%}
  {%- elsif product.type contains "Men's Trousers" or product.tags contains "Men's Trousers" or product.tags contains "mens-trousers"%}

  {%- if product.tags contains "dapper-trousers" or product.title contains "Dapper" -%}                        
  {%- assign img_url = 'DAPPER_TROUSERS-INCHES_e1a6ee08-1fc1-404b-ae24-3a0de69d7246.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "trackpants" or product.tags contains "Track Pants" or product.tags contains "trackpants-trousers" -%}                         
  {%- assign img_url = 'SKINNY_TRACK_PANTS-INCHES_da9c3c2e-df15-43bd-bd7c-cc931d8621a1.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto"><br>                         
  {%- assign img_url = 'TAPERED_TRACK_PANTS-INCHES_4e797bd6-b5de-4429-a8f6-7d96c6d19b4a.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- else -%} {%- comment -%}<!-- return dapper --> {%- endcomment -%}                     
  {%- assign img_url = 'DAPPER_TROUSERS-INCHES_e1a6ee08-1fc1-404b-ae24-3a0de69d7246.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- endif -%}


  {%- endif -%}

  {%- comment -%}<!-- MEN'S TOPS -->{%- endcomment -%}
  {%- elsif product.tags contains "Men's Tops" -%}

  {%- comment -%}<!-- MEN'S TEES -->{%- endcomment -%}
  {%- if product.tags contains "Tees" or product.tags contains "Men's Tees" or product.tags contains "basic-tees" -%}
  {%- if product.description contains "Semi" or product.tags contains "Semi fit" or product.tags contains "semi-fit" or product.title contains "Semi fit" -%}                        
  {%- assign img_url = 'SEMIFIT-INCHES_7279870f-e6e5-4b61-873e-c33b949b15d1.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- elsif product.description contains "Relaxed" or product.tags contains "Relaxed" or product.tags contains "relaxed-fit"%}                       
  {%- assign img_url = 'RELAXED-INCHES_dfa22f97-a81e-4758-a238-88b6fee2d60f.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.description contains "Oversized" or product.tags contains "Oversized Fit" or product.tags contains "oversized-fit" -%}                      
  {%- assign img_url = 'OVERSIZED-INCHES_b9fe4a22-47fa-42e8-8b56-313a06c17999.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%}
  Please <a href="https://www.penshoppe.com/pages/size-guide-page" target="_blank"><b>click here</b></a> to see the size guides and find out the best fit for you.
  {%- endif -%}


  {%- comment -%}<!-- MEN'S TANK -->{%- endcomment -%}
  {%- elsif product.tags contains "Tank" -%}

  {%- if product.description contains "Regular" or product.tags contains "Regular" or product.tags contains "regular-fit" -%}                          
  {%- assign img_url = 'REGULAR-INCHES_6932c411-2abb-4c73-a125-9e8ba090b57b.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%}                           
  {%- assign img_url = 'REGULAR-INCHES_6932c411-2abb-4c73-a125-9e8ba090b57b.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- endif -%}


  {%- comment -%}<!-- MEN'S SHIRT -->{%- endcomment -%}    
  {%- elsif product.tags contains "shirts" or product.tags contains "Shirts" -%}
  {%- if product.tags contains "Relaxed Fit" or product.tags contains "relaxed-fit" -%}                         
  {%- assign img_url = 'RELAXED-INCHES_cda3e6e1-ba8f-4116-bd9b-8772faebd2ed.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "Oversized Fit" or product.tags contains "oversized-fit" or product.tags contains "resort-fit" -%}                          
  {%- assign img_url = 'RESORT-INCHES_3adae27a-4ee9-417a-9726-97b5ffe31018.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "Regular Fit" or product.tags contains "regular" -%}
  {%- if product.tags contains "long-sleeves" or product.tags contains "Long Sleeves" -%}               
  {%- assign img_url = 'REGULAR_LS-INCHES_6aa607c2-8c81-47f8-9f63-69c4c7d9900b.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%}                            
  {%- assign img_url = 'REGULAR_SS-INCHES_597cd2e2-93e5-43b6-aa77-489f128096b0.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- endif -%}
  {%- endif -%}


  {%- comment -%}<!-- MEN'S POLO -->{%- endcomment -%}  
  {%- elsif product.tags contains "Basic Polos" -%}
  {%- comment -%}<!-- RELAXED FIT -->{%- endcomment -%}

  {%- assign img_url = 'RELAXED-INCHES_c0cfa64a-16c6-4737-baed-d434e3025ea2.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- comment -%}<!-- MEN'S JACKET -->{%- endcomment -%}
  {%- elsif product.tags contains "Jackets" or product.tags contains "jackets" or product.tags contains "Hoodie" -%} 
  {%- if product.tags contains "Regular" or product.tags contains "regular-fit" -%}                         
  {%- assign img_url = 'REGULAR-INCHES_1a3069dd-57c7-4844-a3d2-19580a7b1612.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "Relaxed" or product.tags contains "relaxed-fit"%}                         
  {%- assign img_url = 'RELAXED-INCHES_c0cfa64a-16c6-4737-baed-d434e3025ea2.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "Oversized Fit" or product.tags contains "oversized-fit" -%}                   
  {%- assign img_url = 'OVERSIZED-INCHES_64b071c0-453f-4a82-8086-b28207f47528.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- endif -%}
  {%- endif -%}

  {%- comment -%}<!--- WOMENS BOTTOMS --->{%- endcomment -%}
  {%- elsif product.tags contains "Women's Bottoms" -%}

  {%- comment -%}<!-- WOMEN'S JEANS -->{%- endcomment -%}
  {%- if product.type contains "Women's Jeans" or product.tags contains "womens-jeans" -%}

  {%- if product.tags contains "super-skinny" or product.tags contains "supr-skinny" or product.tags contains "super-skinny-jeans" or product.tags contains "super-skinny-fit-jeans" -%}                              
  {%- assign img_url = 'SUPER_SKINNY_JEANS-INCHES_cd4b8f22-5942-4928-9466-b82fcf589e3b.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "straight-relaxed-leg-fit" -%}
  {%- assign img_url = 'STRAIGHT_JEANS-INCHES_2.jpg' | file_img_url: '1x1' | replace:
												                    '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "jeggings-jeans" or product.title contains "Jeggings" -%}                     
  {%- assign img_url = 'JEGGINGS-INCHES_644e3cc1-4e48-4f9a-b540-46024aee745a.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "skinny-jeans" -%}
  {%- assign img_url = 'SKINNY_JEANS-INCHES_8fa21a5c-f97d-415c-add8-b7afa312dabf.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "slim" or product.tags contains "vintage-slim-jeans" or product.title contains "Vintage Slim" -%}                             
  {%- assign img_url = 'VINTAGE_SLIM_JEANS-INCHES_ba1f96a3-12ef-4166-9205-21e100fd1fc6.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Wide Leg" or product.tags contains "wide-leg-jeans" -%}                              
  {%- assign img_url = 'WIDE_JEANS-INCHES_698a54ed-57c8-4ba5-992c-ea80cfbfe546.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%} {%- comment -%}<!-- return Loose fit -->{%- endcomment -%}
  {%- assign img_url = 'LOOSE_JEANS-INCHES_609227a9-628e-4268-a452-1513948b93c1.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- endif -%}


  {%- comment -%}<!-- WOMENS SHORTS -->{%- endcomment -%}
  {%- elsif product.type contains "Women's Shorts" or product.tags contains "womens-shorts" -%}

  {%- if product.title contains "Regular" or product.tags contains "regular-shorts" -%}                               
  {%- assign img_url = 'REGULAR_SHORTS-INCHES_1.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Paperbag" or product.tags contains "paperbag-shorts" -%}                              
  {%- assign img_url = 'PAPERBAG_SHORTS-INCHES_1.jpg' | file_img_url: '1x1' | replace:'_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Biker"or product.tags contains "biker-shorts"  -%}                               
  {%- assign img_url = 'BIKER_SHORTS-INCHES_1.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "womens-runners-shorts" or product.tags contains "runners-shorts" -%}                            
  {%- assign img_url = 'RUNNER_SHORTS-INCHES_1.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%} {%- comment -%}<!-- return CHEEKY SHORTS -->{%- endcomment -%}                          
  {%- assign img_url = 'CHEEKY_SHORTS-INCHES_50c0138f-f286-4e88-90de-2d66a7c41e2d.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- endif -%}

  {%- comment -%}<!-- WOMENS SKIRT -->{%- endcomment -%}
  {%- elsif product.type contains "Women's Skirts" or product.tags contains "womens-skirts" -%}
  {%- if product.title contains "A-Line" or product-tags contains "a-line-skirt" -%}                              
  {%- assign img_url = 'A-LINE_SKIRT-INCHES_5091958a-6351-4cfc-8d58-97f86b17e80f.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Midi" -%}                               
  {%- assign img_url = 'MIDI_SKIRT-INCHES_98670594-89c1-4b28-9cdd-162d9352af5d.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Pencil" -%}                             
  {%- assign img_url = 'PENCIL_SKIRT-INCHES_1cf303ee-56a2-41bf-9556-1792ce32ff15.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%}                                
  {%- assign img_url = 'A-LINE_SKIRT-INCHES_5091958a-6351-4cfc-8d58-97f86b17e80f.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- endif -%}

  {%- comment -%}<!-- WOMENS TROUSERS AND TRACKPANS -->{%- endcomment -%}
  {%- elsif product.tags contains "Women's Trousers" or product.tags contains "Trousers" -%}

  {%- if product.tags contains "trackpants-trousers" or product.title contains "Track Pants" -%}    
  {%- assign img_url = 'SKINNY_TRACK_PANTS-INCHES_34a59727-c120-4d3b-9000-51e4f4b48b90.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  <br>                              
  {%- assign img_url = 'TAPERED_TRACK_PANTS-INCHES_d0aa1888-520d-4714-9823-a592cad7ee55.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]]" data-sizes="auto">

  {%- elsif product.title contains "Chic" or product.tags contains "chic-trousers-trousers" -%}                            
  {%- assign img_url = 'CHIC_TROUSERS-INCHES_5344ac4f-67e9-44f3-b479-e028e70c23da.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Slim" -%}                              
  {%- assign img_url = 'SLIM_TROUSERS-INCHES_6f3a2615-e840-45e7-9c6a-1121ac68ed63.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Leggings" -%}
  {%- assign img_url = 'LEGGINGS-INCHES_84f396dd-5e55-449c-8816-b6da9a68ac7e.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%} {%- comment -%}<!-- WIDE LEG Trousers -->{%- endcomment -%}                      
  {%- assign img_url = 'WIDE_JEANS-INCHES_698a54ed-57c8-4ba5-992c-ea80cfbfe546.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- endif -%}
  {%- endif -%}

  {%- comment -%}<!--- WOMENS TOPS --->{%- endcomment -%}
  {%- elsif product.tags contains "Women's Tops" or product.tags contains "Women's Clothing" or product.tags contains "women" -%}

  {%- comment -%}<!-- WOMEN'S TEES -->{%- endcomment -%}
  {%- if product.tags contains "Tees" or product.tags contains "Women's Tees" -%}
  {%- if product.tags contains "regular" or product.tags contains "semi-fit" -%}

  {%- assign img_url = 'REGULAR-INCHES_8d8e44e8-9d42-4da9-8fad-a94d52b3e410.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "Relaxed" or product.tags contains "relaxed-fit"%}
                        
  {%- assign img_url = 'RELAXED-INCHES_d1307fa6-63a5-43c5-8d3b-b66436e554e6.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">


  {%- elsif product.tags contains "Boxy" or product.tags contains "boxy-fit"%}
                          
  {%- assign img_url = 'BOXY-INCHES_9c20d71d-7d93-473e-b095-8a1f4ca5387a.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">


  {%- else -%} {%- comment -%}<!-- IF LOOSE FIT -->{%- endcomment -%}

  {%- assign img_url = 'LOOSE-INCHES_734ba904-87d7-4086-9488-5a966b83111c.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- endif -%}

  {%- comment -%}<!-- WOMEN'S SHIRT -->{%- endcomment -%}
  {%- elsif product.tags contains "shirts" or product.tags contains "Shirts" or product.tags contains "Women's Shirts" -%}

  {%- if product.tags contains "Relaxed" or product.tags contains "relaxed-fit"%}                            
  {%- assign img_url = 'RELAXED-INCHES_73aeb9af-8d46-483f-b557-8039fee7ea43.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.tags contains "Oversized" or product.tags contains "oversized-fit" -%}                             
  {%- assign img_url = 'OVERSIZED-INCHES_28e67dc5-d66b-40b0-ad04-7da2dd14b6f1.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%} {%- comment -%}<!-- Loose Fit --> {%- endcomment -%}                             
  {%- assign img_url = 'LOOSE-INCHES_38ecdb36-38c6-441b-b2d6-ec2560451f64.jpg' | file_img_url: '1x1' | replace:	'_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- endif -%}


  {%- comment -%}<!-- WOMEN'S POLO -->{%- endcomment -%}
  {%- elsif product.tags contains "Basic Polos" or product.tags contains "polos" or product.tags contains "womens-polo-shirts" -%}
  {%- if product.tags contains "semi-fit" -%}                             
  {%- assign img_url = 'SEMIFIT-INCHES_c71f1b33-ccd1-46b7-9f5a-82b1e34d9838.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%} {%- comment -%}<!-- BOXY / LOOSE FIT --> {%- endcomment -%}                             
  {%- assign img_url = 'LOOSE-INCHES_094006eb-62d5-4820-876a-81d7b10ec432.jpg' | file_img_url: '1x1' | replace:	'_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- endif -%}     


  {%- comment -%}<!-- WOMEN'S JACKET -->{%- endcomment -%}
  {%- elsif product.tags contains "Jackets" or product.tags contains "jackets" or product.tags contains "Hoodie" or product.tags contains "Women's Jackets" -%} 
  {%- if product.tags contains "Regular" or product.tags contains "regular-fit" or product.tags contains "regular" -%}                              
  {%- assign img_url = 'REGULAR-INCHES_7600f3df-0199-4763-bf51-0c4b8059faaf.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- elsif product.tags contains "Relaxed" or product.tags contains "relaxed-fit"%}                              
  {%- assign img_url = 'RELAXED-INCHES_038ad864-b8b8-4ceb-a466-632528b78d0b.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- else -%} {%- comment -%}<!-- Loose Fit -->{%- endcomment -%}                       
  {%- assign img_url = 'LOOSE-INCHES_c16441f8-a42e-40ec-a519-546a32630619.jpg' | file_img_url: '1x1' | replace:	'_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- endif -%}

  {%- comment -%}<!-- WOMEN'S DRESS -->{%- endcomment -%}
  {%- elsif product.tags contains "Dresses" or product.tags contains "womens-dresses" -%}

  {%- if product.title contains "Sheath" -%}                             
  {%- assign img_url = 'SHEATH-INCHES_08f92a63-d04d-40a3-aa96-1136fbb4d9a0.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Shift" -%}                            
  {%- assign img_url = 'SHIFT-INCHES_4a15fe69-b250-41d7-9ecb-dc00728bfbda.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Skater" -%}                              
  {%- assign img_url = 'SKATER-INCHES_98852ffe-197b-4ce7-bf1f-3817170ba335.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- elsif product.title contains "Trapeze" -%}                             
  {%- assign img_url = 'TRAPEZE-INCHES_fb1965a0-c4ee-4e79-be9c-2d7b4c590df8.jpg' | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">

  {%- else -%} {%- comment -%}<!-- T shirt dress -->{%- endcomment -%}                      
  {%- assign img_url = 'SHIRT-INCHES_6c59003f-f1a8-49ce-a37d-24ca59e7afee.jpg' | file_img_url: '1x1' | replace:	'_1x1.', '_{width}x.' -%}
  <img class="lazyload" data-src="{{ img_url }}" data-widths="[443, 500, 960]" data-sizes="auto">
  {%- endif -%}
  {%- endif -%}

  {%- endif -%}     
 </div>
                
