<div class="address-finder-plp" data-address-store-locator data-select-placeholder="{{ 'address_finder.filter_by_store' | t }}">
  <div class="address-finder">
    <div class="inner">
      <span class="icon-map-wrapper">{%- render 'icon-map' -%}</span>
      {{ "address_finder.heading" | t }}
      <span data-address-finder-text class="selected-address-text">{{
        "address_finder.no_address" | t
      }}</span>
      <a
        href="#"
        data-address-finder-open-btn
        class="text-link js-modal-open-address-finder"
        id="helper-link"
        >{{ "address_finder.link_text" | t }}</a
      >
    </div>
  </div>
  <div class="address-finder-plp__filter hide" data-selected-store-wrapper>
    <div class="custom-field">
      <label for="storeFilter">{{ 'address_finder.selected_store' | t }}</label>
      <input type="text" placeholder="{{ 'address_finder.select_store' | t }}" id="selected-store" class="custom-input custom-input-2" disabled data-selected-store>
    </div>
    
  </div>
</div>
<div class="text-warning option-none-found hide" data-pickup-options-none-found data-banner="true" role="alert" tabindex="-1" aria-atomic="true" aria-live="polite">
  {%- render 'ico-alert' -%}
  <div class="notice__content">
    <p class="notice__text">{{ 'address_finder.option_none_found' | t }}</p>
  </div>
</div>
<div class="columns hide" data-columns>
  <div class="column locations" data-column-locations>
    <div class="locations__sumary">
      There  are <span data-locations-total></span> stores near your location.
    </div>
    <div class="locations__items" data-location-items>
    </div>
    <div class="spinner btn--loading">
      <svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false"> <use xlink:href="#spinner-button"></use> </svg>
    </div>
  </div>
  <div class="column">
    <div class="map-content" id="map">

    </div>
  </div>
</div>