{%- paginate customer.orders by 5 -%}
{%- liquid 
  assign grid_item_width = 'small--one-half medium-up--one-third'
  assign product_url = routes.account_url | append: '?view=orders'  
  assign per_row = 3
-%}
<div class="page-width page-content customers">

  <div class="grid">
    <div class="grid__item medium-up--one-quarter">
      {%- render 'account-dashboard', activeMenu: 0 -%}
    </div>
    <div class="grid__item medium-up--three-quarters">
      <header class="section-header">
        <h3 class="h3-custom">{{ 'general.restricted.announcement_html' | t }}</h3>
        <h1 class="section-header__title">{{ 'customer.account.title' | t : name: customer.first_name }}</h1>
        {%- render 'hulkapps-wishlist-account-btn' -%}

        <div class="section-header__sub-title">{{ 'customer.account.subtitle' | t }}</div>
      </header>
      <h2 class="h3-custom">{{ 'customer.orders.title' | t }}
        <a href="{{product_url}}" class="h3-custom__link">View All</a>
      </h2>

      {% if customer.orders_count > 0 %}
        <div class="orders-table__wrapper">
          <table class="full orders-table">
            <thead>
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
                <th>{{ 'customer.orders.address' | t }}</th>
                <th>{{ 'customer.orders.order_status' | t }}</th>
                <th>{{ 'customer.orders.details' | t }}</th>
                <th>{{ 'customer.orders.reorder' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {%- for order in customer.orders -%}
                <tr class="table__section" id="view_address_{{address.id}}">
                  <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name}}</td>
                  <td data-label="{{ 'customer.orders.date' | t }}">
                  {% capture order_datetime %}{{ order.created_at | date: "%B %d, %Y" }}
                  {{ order.created_at | date: "%I:%M %p "}}
                  {% endcapture %}
                  {{ order_datetime | newline_to_br  }}
                  </td>
                  <td data-label="{{ 'customer.orders.total' | t }}" class="col-price">{{ order.total_price | money }}</td>
                  <td data-label="{{ 'customer.orders.address' | t }}" class="order-address">
                  {% if order.shipping_address %}
                    {% capture final_address %}{{ order.shipping_address.company | append: ', ' | append: order.shipping_address.address1 | append: ', ' | append: order.shipping_address.address2 }}
                    {{ order.shipping_address.city | append: ', ' | append: order.shipping_address.country }}
                    {% endcapture %}
                  {% else %}
                    {% for attribute in order.attributes %}
                    {% if order.attributes contains 'pickup_store_street' %}
                      {% assign name =  attribute | first %}
                      {% if name == 'pickup_store_street' %} {% assign final_address = attribute | last %} {% endif %}
                    {% else %}
                      {% assign final_address = 'customer.order.na' | t %}
                    {% endif %}
                    {% endfor %}
                  {% endif %}
                  {{ final_address | newline_to_br }}
                  </td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}" data-cancel="{{ order.cancelled }}">
                  {% if order.cancelled %}
                    <span class="cancelled tag">{{ 'customer.orders.cancelled' | t }}</span>
                  {% else %}
                    {% if order.fulfillment_status != 'fulfilled' %}
                      <span class="processing tag">{{ 'customer.orders.processing' | t }}</span>
                    {% else %}
                      <span class="complete tag">{{ 'customer.orders.complete' | t }}</span>
                    {% endif %}
                  {% endif %}
                  </td>
                  <td><a href="{{ order.customer_url }}">{{ 'customer.orders.view_detail' | t }}</a></td>
                  <td><a href="{{ shop.url }}/cart/{% for item in order.line_items %}{{ item.variant_id | url_encode }}:{{ item.quantity }},{% endfor %}?checkout[email]={{ subscriber.email }}&checkout[shipping_address][first_name]={{ order.shipping_address.first_name }}&checkout[shipping_address][last_name]={{ order.shipping_address.last_name }}&checkout[shipping_address][address1]={{ order.shipping_address.address_1 }}&checkout[shipping_address][address2]={{ order.shipping_address.address_2 }}&checkout[shipping_address][city]={{ order.shipping_address.city }}&checkout[shipping_address][zip]={{ order.shipping_address.zip }}">{{ 'customer.orders.reorder' | t }}</a></td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        </div>

      {% else %}

        <p>{{ 'customer.orders.none' | t }}</p>

      {% endif %}
      {% if customer.default_address %}
        <div class="address-section">
          <h3 class="h3-custom">{{ 'customer.account.your_address' | t }}</h3>
    
          <div class="address-block">
            <h4 class="h4-custom">{{ 'customer.account.shipping_address' | t }} <a href="#" data-form-id="{{ customer.default_address.id }}" class="address-edit-toggle action_edit ">{{ 'customer.account.edit' | t }} </a></h4>
            {{ customer.default_address | format_address }}
          </div> 
          {% render 'address-form', address: customer.default_address %}
        </div>
      {%endif%}
      <div class="recently-view-section">
        <h3 class="h3-custom">{{ 'customer.account.recently_view' | t }} <a href="{{ routes.account_url }}?view=products" class="h3-custom__link">View All</a></h3>
        <div class="grid grid--uniform">
          {%- for product in collections.all.products offset: 0 limit: 3 -%}
            {%- render 'product-grid-item'
              product: product,
              grid_item_width: grid_item_width,
              per_row: per_row
            -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endpaginate -%}