{% liquid
  assign add_url = routes.account_url | append: '?view=new_address'  
%}
<div class="page-width page-content customers">
  <div class="grid">
    <div class="grid__item medium-up--one-quarter">
      {%- render 
        'account-dashboard',
        activeMenu: 3
      -%}
    </div>
    <div class="grid__item medium-up--three-quarters">
      <header class="section-header">
        <h1 class="section-header__title">{{ 'customer.addresses.title' | t }}</h1>
        {% comment %}<div class="section-header__sub-title">Lorem ipsum dolor sit amet, adipiscing rhoncus litora ut dui morbi, mattis nascetur amet, ut justo primis, fusce purus tellus hac risus. Vehicula nullam, non suscipit sit vivamus, quam vel nostra,.</div>{% endcomment %}
      </header>
      {%- if customer.addresses == blank -%}	
        <p class="text-center">{{ 'customer.addresses.no_address' | t }}</p>
      {%-else-%}
        <div class="grid">
          <div class="grid__item medium-up--one-half">
            <div class="address-block">
              <h4 class="h4-custom">{{ 'customer.account.shipping_address' | t }} <a href="#" data-form-id="{{ customer.default_address.id }}" class="address-edit-toggle action_edit">{{ 'customer.account.edit' | t }} </a></h4>
              {{ customer.default_address | format_address }}
            </div> 
          </div>
        </div>
        <div class="additional-address">
          <h2 class="h3-custom">
            {{ 'customer.addresses.additional_address' | t }}
          </h2>
          <table class="full table--responsive">
            <thead>
              <tr>
                <th>{{ 'customer.addresses.name' | t }}</th>
                <th>{{ 'customer.addresses.mobile' | t }}</th>
                <th colspan="3">{{ 'customer.addresses.address' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% if customer.addresses.size > 1 %}
                {% for address in customer.addresses %}
                  {% unless address == customer.default_address %}
                    <tr class="table__section">
                      <td>{{address.name}}</td>
                      <td>{{address.phone}}</td>
                      <td>
                        {{ address.company | append: ', ' }} 
                        {{ address.street | append: ', ' }}
                        <br class="hide-medium-up">
                        {{ address.city | append: ', ' }}
                        {{ address.province_code | append: ', ' }}
                        {{ address.zip | append: ', ' }}
                        {{ address.country }}
                      </td>
                      <td>
                        <div class="address-action">
                          <a href="#" class="action_edit address-edit-toggle" data-form-id="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</span>
                          <a class="action_delete" href="#" onclick="Shopify.CustomerAddress.destroy({{address.id}}, '{{ 'customer.addresses.delete_default' | t }}'); return false" class="js-no-transition">
                            {% render 'ico-delete' %}
                          </a>
                        </div>
                      </td>
                    </tr>
                  {% endunless %}
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
          {% if customer.addresses.size > 0 %}
            {% for address in customer.addresses %}
                {% unless address == customer.default_address %}
                  {% render 'address-form', address: address %}
                {% endunless %}
            {% endfor%}
            {% render 'address-form', address: customer.default_address %}
          {% endif %}
        </div>
      {%- endif -%}
      <a href="{{add_url}}" class="btn locate-button" title="{{ 'customer.addresses.add_new' | t }}">{{ 'customer.addresses.add_new' | t }}</a>	
      <div id="AddressNewForm"></div>
    </div>
  </div>
</div>
{%- render 'modal-helper' -%}
<script>
var modal = document.getElementById('ModalHelper');
document.querySelectorAll('.btn-address-delete').forEach(el => {
  el.addEventListener('click', function(evt) {
    var formId = evt.currentTarget.dataset.formId;
    var confirmMessage = evt.currentTarget.dataset.confirmMessage;

    document.querySelector('body').classList.add('modal-open');
    modal.classList.add('modal--is-active');
    modal.querySelector('h3').innerHTML = confirmMessage;
    modal.querySelector('.helper-message').querySelector('span').innerHTML = "{{ 'customer.addresses.delete_default' | t }}";
    modal.querySelector('h3').style.display = 'block';
    modal.querySelector('.modal-buttons').style.display = 'block';
    modal.querySelector('.confirm-delete-address').setAttribute('form-id', formId);
  });
});
</script>
<script type="text/javascript" charset="utf-8" >
  // initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('AddressCountry_{{address.id}}', 'AddressProvince_{{address.id}}', {hideElement: 'AddressProvinceContainer_{{address.id}}'});
  {% endfor %}
</script>