<div class="page-width page-width--narrow">
  <header class="section-header">
    {% if article.tags.size > 0 or articles.comments_count > 0 %}
      <div class="article__date">
        {% if article.tags.size > 0 %}
          {%- for tag in article.tags -%}
            {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a> &middot;
          {%- endfor -%}
        {% endif %}
        {% if article.comments_count > 0 %}
          <a href="#comments">
            {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
          </a> &middot;
        {% endif %}
          {{ article.published_at | time_tag: format: 'month_day_year' }}
      </div>
    {% endif %}
    <h1 class="section-header__title">{{ article.title }}</h1>
  </header>
</div>
{% schema %}
  {
    "name": "Article Details",
    "presets": [
      {
      "name": "Article Details"
      }
    ]
  }
{% endschema %}