<div class="page-width custom-grid{% if section.settings.space_around %} index-section{% endif %}">
   <div class="grid grid--uniform {{ block.shopify_attributes }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
           {%- when 'image' -%}
     	   <div class="grid__item medium-up--one-third small--one-whole" data-aos="row-of-3">
              <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.img.aspect_ratio }}%;">
              {%- assign img_url = block.settings.img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="lazyload"
                   data-src="{{ img_url }}"
                   data-widths="[180, 383, 540, 720, 900, 1080]"
                   data-aspectratio="{{ block.settings.img.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ block.settings.img.alt | escape }}">
              <noscript>
                <img class="lazyloaded" src="{{ block.settings.img | img_url: '400x' }}" alt="{{ block.settings.img.alt | escape }}">
              </noscript>
           </div>
           </div>
           {%- when 'text' -%}
     	   <div class="grid__item medium-up--one-third small--one-whole" data-aos="row-of-3">
             {%- style -%}
             .custom-grid--{{ block.id }}-details h5, .custom-grid--{{ block.id }}-details p {
             	color: {{ block.settings.text_color }};
             }
             {%- endstyle -%}
              <div class="custom-grid-details text-center custom-grid--{{ block.id }}-details"  style="background-color: {{ block.settings.bg_color }}">     
                  <h5 class="custom-grid-header">{{ block.settings.title }}</h5>
                  <div class="custom-grid-text"><p>{{ block.settings.body }}</p></div>
                  <div class="rte"><a class="btn" href="{{ block.settings.btn_link }}">{{ block.settings.btn_title }}</a></div>   
             </div>
           </div>
        {%- endcase -%}
      {%- endfor -%}
   </div>
</div>

{%- style -%}
.custom-grid.index-section {
	margin: 100px auto;
}
{%- endstyle -%}

{% schema %}
  {
  "name": "Custom Grid",
  "settings": [
    {
      "type": "checkbox",
      "id": "space_around",
      "label": "Add spacing above and below",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background",
          "default": "#fbf3ee"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "body",
          "label": "Content"
        },
		{
          "type": "text",
          "id": "btn_title",
          "label": "Button Text"
        },
		{
          "type": "text",
          "id": "btn_link",
          "label": "Button Link"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image",
          "info": "Recommended: Portrait"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Grid"
    }
  ]
}
{% endschema %}