{{ 'subscription.css' | asset_url | stylesheet_tag }}

{%- if section.settings.space_top -%}<div class="index-section">{%- endif -%}
{%- assign newsletter_form_id = 'newsletter-' | append: section.id -%}
{%- form 'customer', id: newsletter_form_id -%}
  {%- if form.posted_successfully? -%}
    <div class="note note--success one-third text-center margin-auto">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
	{%- style -%}.main-content { min-height: 550px; }{%- endstyle -%}
  {%- endif -%}
  {%- if form.errors and form.context == snippet_context -%}
    {{ form.errors | default_errors }}
  {%- endif -%}

  <label for="Name-{{ section_id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_name' | t }}</label>  
  <label for="Email-{{ section_id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
  <input type="hidden" name="contact[tags]" value="prospect,newsletter">
  <input type="hidden" name="contact[context]" value="{{ snippet_context }}">

  <div class="input-group newsletter__input-group sub-container">
    <input type="name" class="name-line" value="{% if customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_name' | t }}" name="contact[name]" id="Name-{{ section_id }}" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
    <input type="email" class="email-line" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email-{{ section_id }}" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
    <button type="submit" class="btn btn--secondary" name="commit">
      <span class="form__submit">{{ 'general.newsletter_form.submit' | t }}</span>
    </button>
  </div>

  <div class="sub-privacy-policy">
    <input type="checkbox" id="custom-subscription--{{ section.id }}" class="sub-privacy-policy__input">
    <label class="sub-privacy-policy__label">{{ 'general.newsletter_form.agree_privacy_policy_html' | t }}</label>
  </div>
  <small class="error-message red text-center" style="display: none;">{{ 'general.newsletter_form.privacy_policy_error' | t }}</small>
{%- endform -%}
{%- if section.settings.space_top -%}</div>{%- endif -%}

<script type="text/javascript">
  document.addEventListener('page:loaded', function() {
    document.getElementById('{{ newsletter_form_id }}').addEventListener('submit', function(e){
        if (document.getElementById('custom-subscription--{{ section.id }}').checked) {
           document.querySelector('.error-message').style.display = 'none';
           document.getElementById('{{ newsletter_form_id }}').submit();
           return true;
        } else {
		   return false;                                   
           e.preventDefault();
    	   document.querySelector('.error-message').style.display = 'block';
        }
    });
  });
</script>

{% schema %}
  {
    "name": "Custom Subscription",
    "settings": [
		{
          "type": "checkbox",
          "id": "space_around",
          "label": "Add spacing above and below",
          "default": false
        },
		{
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
	],
    "presets": [{
      "name": "Custom Subscription"
    }]
  }
{% endschema %}