<div class="page-width page-width--narrow page-content">
  {%- if section.settings.show_title -%}
  <header class="section-header">
    <h1 class="section-header__title">
      {{ page.title | escape }}
    </h1>
  </header>
  {%- endif -%}
  
  {%- for block in section.blocks -%}
  <div data-subsection data-section-id="{{ block.id }}" {{ block.shopify_attributes }}>
  {%- case block.type -%}
      {%- when 'subtitle' -%}
      <div class="section-header text-center">
        <div class="larger-text">
            <p class="subtitle">{{ block.settings.subtitle }}</p>
        </div>
      </div>
      {%- when 'text' -%}
      {%- liquid
          assign colored = false
          if block.settings.colored
              assign colored = true
              assign words = 'The Custom Polo' | split: ' '

              assign words_color = "#198560,#AF021E,#EDBD0F" | split: ','
          endif
      -%}

      <div class="section-header text-center">
        <div class="larger-text h1">
          {%- if colored -%}
          {%- for word in words -%}
          {%- assign inx = forloop.index | minus: 1 -%}
          <span style="color: {{ words_color[inx] }};">{{ word }} </span>
          {%- endfor -%}
          {%- else -%}
          {{ block.settings.custom_text }}
          {%- endif -%}
        </div>
      </div>
  {%- endcase -%}
  </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Custom Page",
  "tag": "section",
  "settings": [
	{
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Title",
      "default": true
	}
  ],
  "blocks": [
	{
	  "name": "Subtitle",
	  "type": "subtitle",
	  "settings": [
		{
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
	    }
	  ]
	},
	{
	  "name": "Text",
	  "type": "text",
	  "settings": [
		{
          "type": "checkbox",
          "id": "colored",
          "label": "Colored",
          "default": false
        },
		{
          "type": "text",
          "id": "custom_text",
          "label": "Text"
	    }
	  ]
	}
  ]
}
{% endschema %}