{%- unless section.settings.full -%}<div class="page-width--narrow">{%- endunless -%}
{%- if section.settings.background != blank -%}<div class="image-scroll__background" style="background: {{ section.settings.background }}">{%- endif -%}
{%- if section.settings.add_spacing_above -%}<hr class="hr--small hr--clear">{%- endif -%}
{%- if section.settings.title != blank -%}
<h2 class="text-center image-scroll__title">{{ section.settings.title }}</h2>
{%- endif -%}
<div class="image-row">
  <div class="image-scroll__container">
  	<div class="swiper image-scroll__slider" id="image-scroll__{{ section.id }}">
    <div class="swiper-wrapper aos-animate" data-aos="row-of-{{ section.settings.slide_view }}">
    	{%- for block in section.blocks -%}
      	<div class="swiper-slide image-scroll__slide image-wrap" {{ block.shopify_attributes }}>
      		{% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            {%- if block.settings.url != blank -%}<a href="{{ block.settings.url }}">{%- endif -%}
            <img class="lazyload image-scroll--image"
                 data-src="{{ img_url }}"
                 data-widths="[167, 260, 304, 311, 362, 407, 456, 478, 633, 637]"
                 data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.image.alt | escape }}">
          {%- if block.settings.button_text != blank -%}
          <span class="margin-top-15 image-scroll--text h4">{{ block.settings.button_text }}</span>
          {%- endif -%}
          {%- if block.settings.url != blank -%}</a>{%- endif -%}
      	</div>
      	{%- endfor -%}
    </div>
    {% if section.settings.enable_navigation -%}
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    {%- endif -%}
    {% if section.settings.enable_scrollbar -%}<div class="swiper-pagination"></div>{%- endif -%}
  </div>
  </div>
</div>
{%- if section.settings.add_spacing_below -%}<hr class="hr--small hr--clear">{%- endif -%}
{%- if section.settings.background != blank -%}</div>{%- endif -%}
{%- unless section.settings.full -%}</div>{%- endunless -%}
<script>
document.addEventListener('page:loaded', function() {
  const image_scroll = new Swiper('#image-scroll__{{ section.id }}', {
    pagination: {
    	el: ".swiper-pagination",
        dragClass: 'swiper-scrollbar-drag',
        type: "progressbar",
        draggable: true,
        clickableClass: "swiper-pagination-clickable"
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    spaceBetween: {{ section.settings.space_between }},
    slidesPerView: {{ section.settings.slide_view_mobile }},
    centeredSlides: false,
    centerInsufficientSlides: true,
    grabCursor: true,
    // Disable preloading of all images
    preloadImages: false,
    // Enable lazy loading
    lazy: true,
    {% if section.settings.autoplay_speed != blank %}
    autoplay: {
      delay: {{ section.settings.autoplay_speed }},
    },
    {% endif %}
    breakpoints: {
      768: {
        spaceBetween: {{ section.settings.space_between }},
        slidesPerView: {{ section.settings.slide_view }},
        centeredSlides: false,
        centerInsufficientSlides: true
      }
    }
  });
});

</script>

{% schema %}
  {
    "name": "Image Scroll",
	"max_blocks": 30,
    "settings": [
        {
		  "type": "checkbox",
		  "id": "full",
		  "label": "Full Width",
		  "default": true
		},
		{
		  "type": "checkbox",
		  "id": "add_spacing_above",
		  "label": "Add spacing above",
		  "default": true
		},
		{
		  "type": "checkbox",
		  "id": "add_spacing_below",
		  "label": "Add spacing below",
		  "default": false
		},
		{
		  "type": "text",
		  "id": "title",
		  "label": "Title"
		},
		{
		  "type": "color",
		  "id": "background",
		  "label": "Background"
		},
		{
		  "type": "header",
		  "content": "Slide Settings"
		},
		{
		  "type": "text",
		  "id": "slide_view",
		  "label": "Slide per View",
		  "info": "Use decimal to show portion of next slide",
		  "default": "1.1"
		},
		{
		  "type": "text",
		  "id": "slide_view_mobile",
		  "label": "Slide per View on Mobile",
		  "info": "Use decimal to show portion of next slide",
		  "default": "1.1"
		},
        {
		  "type": "text",
		  "id": "space_between",
		  "label": "Space between",
		  "default": "5"
		},
		{
		  "type": "text",
		  "id": "autoplay_speed",
		  "label": "Autoplay Speed",
		  "default": "7000"
		},
        {
		  "type": "checkbox",
		  "id": "enable_navigation",
		  "label": "Enable Navigation",
		  "default": false
		},
        {
		  "type": "checkbox",
		  "id": "enable_scrollbar",
		  "label": "Enable Scrollbar",
		  "info": "Enable this if you have slides more than your slide per view above",
		  "default": false
		}
	],
	"blocks": [
		 {
          "name": "Image",
          "type": "image",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
           },
           {
			  "type": "url",
              "id": "url",
              "label": "Link"
		   },
		   {
			  "type": "text",
              "id": "button_text",
              "label": "Button Text"
		   }
		]
      }
	],
    "presets": [
        {
          "name": "Image Scroll"
        }
      ]
  }
{% endschema %}