{%- if settings.gwp_enable -%}
{%- include 'cart-product-form' -%}
{%- endif -%}

{%- include 'fragrance-rules' -%}

<div class="page-width page-width--narrow page-content{% if cart.item_count == 0 %} is-empty{% endif %}">
  
  {%- render 'breadcrumbs' -%}

  <header class="section-header text-center{% if cart.item_count == 0 %} section-header--404{% endif %}">
    <div class="cart-header">
      <div class="rte text-spacing continue-shopping-btn medium-up--hide">
        <p>{{ 'cart.general.continue_browsing_html' | t: url: '/collections/all-items' }}</p>
      </div>
      <h1 class="section-header__title">{{ 'cart.general.title' | t }}</h1>
      <div class="rte text-spacing continue-shopping-btn small--hide">
        <p>{{ 'cart.general.continue_browsing_html' | t: url: '/collections/all-items' }}</p>
      </div>
    </div>
    {% comment %}{% render 'cart-promotion' %}{% endcomment %}
    {%- liquid
   	if settings.enable_crm_promotions
       	if customer and customer.tags contains settings.crm_tag
    		assign used_tag = settings.crm_tag | append: 'USED'
    		unless customer.tags contains used_tag
    			render 'profile-completion'
    		endunless
    	endif
    endif
    -%}
  </header>

  <div class="cart__empty-text text-center">
    <p>{{ 'cart.general.empty' | t }}</p>
  </div>
  
  {%- if settings.preorder_enable -%}
  {%- if customer and customer.tags contains 'employee' or customer.email contains "goldenabc.com" -%}   
  <small class="red preorder-warning" style="display: none;">{{ 'cart.preorder.employee_note' | t }}</small>
  {% else %}
  <small class="red preorder-warning" style="display: none;">{{ 'cart.preorder.non_emp_note' | t }}</small>
  {%- endif -%}
  {%- endif -%}
  
  <small class="red cart-warning text-center" style="display: none;">{{ 'cart.general.soldier_warning_html' | t }}<span class="soldier-list"></span></small>

  {%- if cart.item_count > 0 -%}
    <form action="{{ routes.cart_url }}" method="post" novalidate data-location="page" id="CartPageForm">
      <div class="cart__item cart__item--headers small--hide">
        <div class="cart__item--details">
          <div class="cart__item--qty">{{ 'cart.label.quantity' | t }}</div>
          <div class="cart__item--price text-right">{{ 'cart.label.total' | t }}</div>
        </div>
      </div>

      <div data-products>
        {%- for item in cart.items -%}
          {%- render 'cart-item', product: item -%}
        {%- endfor -%}
      </div>
      
      <div class="saso-cart-offers"></div>

      <div class="cart__footer">
        <div class="grid">
          {%- if settings.cart_notes_enable -%}
            <div class="grid__item medium-up--one-whole cart--notes">
              <label for="CartNote">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full cart-notes" id="CartNote" placeholder="{{ 'cart.general.note_placeholder' | t }}">{{ cart.note }}</textarea>
            </div>
          {%- endif -%}
          <div class="grid__item medium-up--one-half text-center medium-up--text-right{% if settings.cart_notes_enable %} medium-up--push-one-half{% endif %}">
            <div data-discounts>
              {% if cart.cart_level_discount_applications != blank %}
                <div class="cart__item-sub cart__item-row">
                  <div>{{ 'cart.general.discounts' | t }}</div>
                  <div class="text-right">
                    {% for cart_discount in cart.cart_level_discount_applications %}
                      <div>
                        {{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>

            <div class="cart__item-sub cart__item-row">
              <div class="cart__subtotal">{{ 'cart.general.subtotal' | t }}</div>
              <div class="saso-cart-original-total">{{ cart.total_price | money }}</div>
              <div data-subtotal class="saso-cart-total"></div>
            </div>
            
            <div class="cart__item-row">
              <div class="saso-summary"></div>
            </div>

            {%- assign cartTotalDiscounts = cart.total_discounts | money -%}
            <div class="cart__item-row cart__savings {% unless cart.total_discounts > 0%} hide{% endunless %}" data-savings>
              {{ 'cart.general.savings_html' | t: savings: cartTotalDiscounts }}
            </div>
            
            {%- if settings.cart_terms_conditions_enable -%}
              <div class="cart__item-row cart__terms cart__terms--left">
                <input type="checkbox" id="CartTerms" class="cart__terms-checkbox saso_agree">
                <label for="CartTerms">
                  {% if settings.cart_terms_conditions_link != blank %}
                    {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_link }}
                  {% else %}
                    {{ 'cart.general.terms' | t }}
                  {% endif %}
                </label>
              </div>
            {%- endif -%}
            
            <div class="cart__item-row cart__item-row--left margin-top-n8">
              <label class="send_as_gift_label">
              <input type="hidden" name="attributes[Send as gift]" value="No">
                <input id="gift_input" type="checkbox" name="attributes[Send as gift]" value="Yes" {% if cart.attributes["Send as gift"] == "Yes" %}checked{% endif %}>{{ 'cart.general.gift' | t }}
              </label>
              <span class="cart-collapsible" onclick="show_gift_info();">{%- render 'icon-help' -%}</span>            
              <div id="gift_info">{{ 'cart.general.gift_info' | t }}</div>
              <small class="small-subs">{{ 'cart.general.gift_info_cod' | t }}</small>
            </div>

            <div class="cart__item-row ajaxcart__note">
              <small>
                {{ 'cart.general.shipping_at_checkout' | t }}<br />
              </small>
            </div>

            {% comment %}
            {%- if customer.tags contains 'employee' or customer.email contains "goldenabc.com" -%}
             <div class="cart_wrapper cart__checkout-wrapper">
                 <div id="storePickupApp"></div>
            </div>
            {%- endif -%}
            {% endcomment %}
            
            {%- comment -%}
            {%- if customer.tags contains 'employee' or customer.email contains "goldenabc.com" -%}
            <div class="cart_wrapper cart__checkout-wrapper">
            <input type="hidden" name="attributes[Checkout-Method]" value="" id="checkout-method">
            <div id="storePickupApp">
            	<img src="{{ 'SHIP.png' | file_img_url: '150x80' }}" class="storepickup active" data-value="ship" />
              	<img src="{{ 'PICKUP.png' | file_img_url: '150x80' }}" class="storepickup" data-value="pickup" />
            </div>
            </div>
            {%- endif -%}
            {%- endcomment -%}

            <button type="submit" name="checkout" {% if settings.cart_terms_conditions_enable %} data-terms="CartPageAgree"{% endif %} class="btn cart__checkout cart__checkout--page" >
              {{ 'cart.general.checkout' | t }}
            </button>
            <p class="no-margin modify-cart-items text-center" style="display:none;">{{ 'cart.general.soldier_html' | t }}</p>
            {%- if additional_checkout_buttons and settings.cart_additional_buttons -%}
              <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
            {%- endif -%}
            {%- unless settings.cart_terms_conditions_enable -%}
              <small class="agree-to-terms rte">{{ 'cart.general.terms_auto_html' | t: url: settings.cart_terms_conditions_link }}</small>
            {%- endunless -%}
            {% comment %}
            <div class="cart__checkout-wrapper">
              <div class="rte text-spacing">
                <p class="selected-address ah-link">{%- render 'icon-map' -%} Current Address: <span class="selected-address-text">No address selected.</span><a href="#" class="text-link js-modal-open-address-finder" id="helper-link" >Please find your location first.</a></p>
              </div>
              
              <div class="frag-notif">{{ 'cart.general.fragrance_notif' | t }}</div>
              
              <div class="cart-checkout-validation">                
              <button type="submit" name="checkout" {% if settings.cart_terms_conditions_enable %} data-terms="CartPageAgree"{% endif %} class="btn cart__checkout cart__checkout--page btn--no-animate" disabled style="display:none;">
                 {{ 'cart.general.checkout' | t }}
              </button>
              
              <button class="btn cart__address_finder js-modal-open-address-finder">{{ 'cart.address_finder.verify_checkout' | t }}</button>
              <p class="no-margin modify-cart-items text-center" style="display:none;">{{ 'cart.general.soldier_html' | t }}</p>
              <button id="cartUpdateBtn" type="submit" name="update" class="btn btn--no-animate update-cart" style="display:none;">
                {{ 'cart.general.update' | t }}
              </button>

              {%- if additional_checkout_buttons and settings.cart_additional_buttons -%}
                <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
              {%- endif -%}
              </div>
            </div>
            {% endcomment %}

          </div>
        </div>

      </div>

    </form>
  {%- endif -%}
</div>
  {% comment %}
  {%- render 'address-finder', cart_weight_overall: cart_weight_overall -%} 
  {% endcomment %}

<script>
    function check_liquids(overall) {
      var $ncrluz = ['Metro Manila','Abra','Albay','Apayao','Aurora','Bataan','Batangas','Benguet','Bulacan','Cagayan','Camarines Norte','Camarines Sur','Cavite','Ifugao','Ilocos Norte','Ilocos Sur','Isabela','Kalinga','La Union','Laguna','Mountain Province','Nueva Ecija','Nueva Vizcaya','Pampanga','Pangasinan','Quezon','Quirino','Rizal','Sorsogon','Tarlac','Zambales','Outlying island provinces:','Batanes','Catanduanes','Marinduque','Masbate','Occidental Mindoro','Oriental Mindoro','Palawan','Romblon'].map(function(v) {
        return v.toUpperCase();
      });
      if (overall > 1000 && window.localStorage.address != undefined) {
        var $province = JSON.parse(window.localStorage.address).province;
        if ($ncrluz.indexOf($province) == -1) {
          document.querySelector('.frag-notif').style.display = 'block';
        } else {
          document.querySelector('.frag-notif').style.display = 'none';
        }
     }
  }
  check_liquids({{ cart_weight_overall }});
  function show_gift_info() {
      var content = document.getElementById('gift_info');
      if (content.style.height){
        content.style.height = null;
        document.querySelector('.small-subs').style.textIndent = '22px';
      } else {
        content.style.height = content.scrollHeight + "px";
        document.querySelector('.small-subs').style.textIndent = '0px';
      } 
  }
  
  {%- comment -%}
  {%- if customer and customer.tags contains 'employee' or customer.email contains "goldenabc.com" -%}   
  ZapietEvent.listen('selected_method', function(t) {
    if (t == 'pickup') {
      document.querySelector('.selected-address').style.display = 'none';
      
      document.querySelector('.cart-checkout-validation .cart__checkout').disabled = false;
      document.querySelector('.cart-checkout-validation .cart__checkout').style.display = 'block';
      document.querySelector('.cart__address_finder').style.display = 'none';
    } else {
      document.querySelector('.selected-address').style.display = 'block';

      if (sessionStorage.getItem('address') == null) {
        document.querySelector('.cart-checkout-validation .cart__checkout').disabled = true;
        document.querySelector('.cart-checkout-validation .cart__checkout').style.display = 'none';
        document.querySelector('.cart__address_finder').style.display = 'block';
      }
    }
  });
  {%- endif -%}
  {%- endcomment -%}

  {%- if settings.preorder_enable -%}
  	var preorder = [], regular = [], gwp = [], regular_names = [], preorder_names = [], all_items = [];
  	var arr_count = {{ cart.item_count }};
  
    window.addEventListener('load', function() {
  	check_items(document.getElementById('ModalHelper'));
    });
  
  	function closeHelper() {
      document.getElementById('ModalHelper').classList.remove('modal--is-active');
      document.querySelector('body').classList.remove('modal-open');
    }
  	function displayItems(type) {
      var modal_helper = document.getElementById('ModalHelper');
      var html = "<p class=''><strong>You are about to remove the item(s):</strong></p>";
      var array = type == "preorder" ? preorder : (type == 'regular') ? regular : gwp;

      for (var key in array) {
        html += "<p class='no-margin'>" + array[key].title + ' x ' + array[key].quantity + "</p>";
      }

      html += "<button class='btn confirm-delete-item margin-top-15' onclick=removeItems('" + type + "')>Confirm</button>";

      modal_helper.querySelector('.preorder-items').innerHTML = (html);
      modal_helper.querySelector('.preorder-items').style.display = 'block';
    }
  	function updateItems() {
      var params_text = "";
      for (var key in all_items) {
        params_text += "updates[" + all_items[key] + "]=1&"; 
      }
      params_text = params_text.slice(0,-1);  

      if (params_text != '') {
        const promise = new Promise((resolve, reject) => {
           jQuery.post('/cart/update.js', params_text);
           let wait = setTimeout(() => {
              resolve('Success');
           }, 500);
        });

        promise.then((value) => {
          window.location.reload();
        }); 
      } 
    }
    function removeItems(type) {
      var params_text = "";
      var array = type == "preorder" ? preorder : (type == 'regular') ? regular : gwp;

      for (var key in array) {
        params_text += "updates[" + key + "]=0&"; 
      }
      params_text = params_text.slice(0,-1);  

      if (params_text != '') {
        closeHelper();
        const promise = new Promise((resolve, reject) => {
           jQuery.post('/cart/update.js', params_text);
           let wait = setTimeout(() => {
              resolve('Success');
           }, 500);
        });

        promise.then((value) => {
          window.location.reload();
        });      
      } 
    }
    function check_items(modal_helper) {
      var qualified = false;
      {%- if settings.preorder_enable and settings.preorder_limited -%}
          {%- if customer and customer.tags contains settings.preorder_limited_tag -%}  
      	  var message = "{{ 'cart.preorder.mix' | t }}";
          qualified = true;
          {%- else -%}
      	  var message = "{{ 'cart.preorder.exclusive' | t }}";
          {% endif -%}
      {%- else %}
      var message = "{{ 'cart.preorder.mix' | t }}";
      {%- endif -%}

      {%- for item in cart.items -%}        	
      {%- if item.product.tags contains "pre-order" -%}
          preorder[{{item.id}}] = {title : "{{ item.title | escape }}", quantity: "{{item.quantity}}" };
          document.querySelector('.preorder-warning').style.display = 'block';
      {%- else %}
          regular[{{item.id}}] = {title : "{{ item.title | escape }}", quantity: "{{item.quantity}}" };
          document.querySelector('.preorder-warning').style.display = 'none';
      {%- endif %}
      {%- if item.product.tags contains gwp -%}
      {%- assign gwp = true -%}
          gwp.push({{item.id}});
      {%- else  %}
          all_items.push({{item.id}});
      {%- endif -%}
      {%- endfor -%}  

      {% if settings.preorder_limited %}
      if (Object.keys(preorder).length >= 1 && qualified == false) {
        modal_helper.classList.add('modal--is-active', 'pre-order-modal');
        modal_helper.querySelector('.helper-message').querySelector('span').innerHTML = message;
        modal_helper.querySelector('.modal-buttons-for-preorder').style.display = 'block';
        modal_helper.querySelector('.modal-helper-close').style.display = 'none';
        modal_helper.querySelector('h3').style.display = 'block';
        document.querySelector('body').classList.add('modal-open');
      } else {% endif %}
      if ((Object.keys(preorder).length >= 1 && Object.keys(regular).length >=1)) {
        modal_helper.classList.add('modal--is-active', 'pre-order-modal');
        modal_helper.querySelector('.helper-message').querySelector('span').innerHTML = message;
        modal_helper.querySelector('.modal-buttons-for-preorder').style.display = 'block';
        modal_helper.querySelector('.modal-helper-close').style.display = 'none';
        modal_helper.querySelector('h3').style.display = 'block';
        document.querySelector('body').classList.add('modal-open');
      } else {                       
        modal_helper.classList.remove('modal--is-active', 'pre-order-modal');
        modal_helper.querySelector('.modal-buttons-for-preorder').style.display = 'none';
        modal_helper.querySelector('.modal-helper-close').style.display = 'block';
        document.querySelector('body').classList.remove('modal-open');
      }
      {% if cart.item_count == 1 and gwp %}
      removeItems("gwp");
      {% endif %}
  	}
  {%- endif -%}
</script>

{% schema %}
  {
    "name": "Cart page"
  }
{% endschema %}