{%- style -%}
.page-promotions__title {
	background: {{ section.settings.background }};
	color: {{ section.settings.text_color }};
}

.page-promotions__slider {
   max-height: none !important;
}
{%- endstyle -%}

<div id="overlay"></div>

<div class="page-promotions">
  <small class="no-margin page-promotions__title text-center" id="open-promos">
    {{ section.settings.title }} <span class="number-of-items">({{ section.blocks.size }} {% if section.blocks.size > 1 %} {{ 'home_page.items' | t }}{% else %}{{ 'home_page.item' | t }}{% endif %})</span> 
    {% render 'icon-chevron-down' %}
  </small>
  <div class="page-promotions__container" id="page-promotions--container">
  	<div class="swiper page-promotions__slider" id="page-promotions">
    <div class="swiper-wrapper">
    	{%- for block in section.blocks -%}
      	<div class="swiper-slide page-promotions__slide" {{ block.shopify_attributes }}>
      		{% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            {%- if block.settings.url != blank -%}<a href="{{ block.settings.url }}">{%- endif -%}
            <img class="lazyload page-promotions__slide--image"
                 data-src="{{ img_url }}"
                 data-widths="[167, 260, 304, 311, 366, 460, 630]"
                 data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.image.alt | escape }}">
          {%- if block.settings.url != blank -%}</a>{%- endif -%}
      	</div>
      	{%- endfor -%}
    </div>
  </div>
  </div>
</div>

<script>
document.addEventListener('page:loaded', function() {
  document.getElementById('open-promos').addEventListener('click', swiper_active);
  
  document.getElementById('overlay').addEventListener('click', function(e) {
    if (e.target != document.getElementById('open-promos')) {
      var promos = document.getElementById('page-promotions--container');
      promos.style.height = null;
      promos.classList.remove('active');

      document.querySelector('.number-of-items').style.display = 'none';
      document.getElementById('overlay').style.display = 'none';

      document.querySelector('.page-promotions').classList.remove('bottom-full');
    }
  });
});
  
function swiper_active() {
  	var promos = document.getElementById('page-promotions--container');
  
  	if (promos.style.height) {
        promos.style.height = null;
      	promos.classList.remove('active');
      
      	document.querySelector('.number-of-items').style.display = 'none';
      	document.getElementById('overlay').style.display = 'none';
      
      	document.querySelector('.page-promotions').classList.remove('bottom-full');
    } else {      
      	const page_promotions = new Swiper('#page-promotions', {
           spaceBetween: 5,
           slidesPerView: 1.1,
           centeredSlides: false,
           centerInsufficientSlides: true,
           breakpoints: {
             768: {
               spaceBetween: 5,
               slidesPerView: 3,
               centeredSlides: false,
               centerInsufficientSlides: true
             },
             864: {
               spaceBetween: 5,
               slidesPerView: {%- if section.blocks.size >= 4 -%}4{%- else -%}3{%- endif -%},
               centeredSlides: false,
               centerInsufficientSlides: true
             }
           }
        });
      	promos.style.height = 'auto';
        promos.classList.add('active');
      
      	document.querySelector('.number-of-items').style.display = 'inline-block';
      	document.getElementById('overlay').style.display = 'block';
      
       	document.querySelector('.page-promotions').classList.add('bottom-full');
    }
}
</script>

{% schema %}
  {
    "name": "Page Promotions",
	"max_blocks": 10,
    "settings": [
		{
		  "type": "text",
		  "id": "title",
		  "label": "Title"
		},
		{
		  "type": "color",
		  "id": "background",
		  "label": "Background"
		},
	    {
		  "type": "color",
		  "id": "text_color",
		  "label": "Text Color"
		}
	],
	"blocks": [
		 {
          "name": "Promo",
          "type": "promo",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
           },
           {
			  "type": "url",
              "id": "url",
              "label": "Link"
		   }
		]
      }
	]
  }
{% endschema %}