{% style %}
.{{ section.id }}-popup-overlay {
  position: fixed;
  background-color: rgb(0 0 0 / 50%);
  transition: ease 0.5s all;
  opacity: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  visibility: hidden;
  top: -100%;
  bottom: unset;
}

.{{ section.id }}-popup-overlay .gap-\[20px\] {
  gap: 20px;
}

.{{ section.id }}-popup-overlay .mb-\[30px\] {
  margin-bottom: 30px;
}

.{{ section.id }}-popup-overlay .flex {
  display: flex;
}

.{{ section.id }}-popup-overlay .flex-col {
  flex-direction: column;
}

.{{ section.id }}-popup-overlay .flex-wrap {
  flex-wrap: wrap;
}

.{{ section.id }}-popup-overlay .justify-center {
  justify-content: center;
}

.{{ section.id }}-popup-overlay.show {
  opacity: 1;
  visibility: visible;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.{{ section.id }}-popup-overlay .geo-popup-inner {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto
  {% comment %} height: 100vh; {% endcomment %}
}

.{{ section.id }}-popup-overlay .geo-details-wrapper {
  padding: 20px;
}

.{{ section.id }}-popup-overlay .icon-wrapper {
  margin-bottom: 20px;
}

.{{ section.id }}-popup-overlay .geo-popup--heading {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
}

.{{ section.id }}-popup-overlay .geolocation_logo {
  max-width: 300px;
  margin-top: 30px;
}

.{{ section.id }}-popup-overlay .button {
  background: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: var(--link-color);
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  max-width: 350px;
  gap: 10px;
  align-items: center;
  padding: 8px;
}

.{{ section.id }}-popup-overlay .button svg {
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.{{ section.id }}-popup-overlay .button:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.{{ section.id }}-popup-overlay .geo-bottom-text {
  padding: 20px;
  margin: 0 auto;
  font-size: 80%;
}

.{{ section.id }} .geolocation_banner {
  width: 100%;
}

@media only screen and (max-width: 989px) {
  .{{ section.id }}-popup-overlay .geo-banner-wrapper {
    height: 20vh;
  }
}

@media screen and (min-width: 990px) {
  .{{ section.id }}-popup-overlay .geo-banner-wrapper {
    height: 50vh;
    overflow-y: hidden;
    flex-direction: column;
  }

  .{{ section.id }}-popup-overlay .geo-buttons-wrapper {
    gap: 50px;
  }  
}
{% endstyle %}

<div class="{{ section.id }}-popup-overlay">
  <div class="geo-popup-inner">
    {% comment %} <div class="icon-wrapper">{% render 'icon-globe' %}</div> {% endcomment %}
    {% if section.settings.geolocation_banner != blank %}
    <div class="geo-banner-wrapper">
      <img class="geolocation_banner"
        src="{{ section.settings.geolocation_banner | img_url: 'master' }}"
        srcset="{{ section.settings.geolocation_banner | img_url: 'master' }} 1x, {{ section.settings.geolocation_banner | img_url: 'master', scale: 2 }} 2x"
        alt="{{ shop.name }}">
    </div>
    {% endif %}

    <div class="geo-details-wrapper flex justify-center flex-col">
      {% if section.settings.geolocation_logo != blank %}
        <div class="text-center">
          <img class="geolocation_logo mb-[30px]"
            src="{{ section.settings.geolocation_logo | img_url: 'master' }}"
            srcset="{{ section.settings.geolocation_logo | img_url: 'master' }} 1x, {{ section.settings.geolocation_logo | img_url: 'master', scale: 2 }} 2x"
            alt="{{ shop.name }}">
        </div>
      {% endif %}
  
      {% if section.settings.popup_heading != blank %}<p class="geo-popup--heading text-center mb-[30px]">{{ section.settings.popup_heading }}</p>{% endif %}
      {% comment %} {% if section.settings.btn_text != blank %}<a class="button" href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a>{% endif %}
      {% if section.settings.shop_here_text != blank %}<div class="">or <span onclick="hideGeoPopup()" class="link-style">{{ section.settings.shop_here_text }}</span></div>{% endif %} {% endcomment %}
  
      <div class="geo-buttons-wrapper flex justify-center gap-[20px] mb-[30px] flex-wrap">
        {% if section.settings.btn_text != blank %}
          <button onclick="hideGeoPopup()" class="button flex justify-center">{% render 'icon-flag-ph' %} {{ section.settings.btn_text }}</button>
        {% endif %}
        {% if section.settings.shop_here_text != blank %}
          <a class="button flex justify-center" href="{{ section.settings.btn_link }}">{% render 'icon-globe-int' %} {{ section.settings.shop_here_text }}</a>
        {% endif %}
      </div>
  
      {% if section.settings.bottom_text != blank %}
      <p class="page-width--narrow geo-bottom-text text-center">
        Please note that sites operated by Penshoppe whose terms and conditions including delivery locations vary from each site. Check the terms and conditions before making a purchase to ensure any orders can be processed to your location on terms acceptable to you.
      </p>
      {% endif %}
    </div>
  </div>
</div>

<script>
var currentCountry = null;

function getLocation() {
  // Get IP Address
  $.getJSON("https://api.ipify.org?format=jsonp&callback=?", function(json) {
      $.getJSON(`https://ipapi.co/${json.ip}/json/`, function(reponse) {
          currentCountry = reponse.country_code
          console.log(reponse)
          if(reponse.country_code != 'PH') {
            document.querySelector('.{{ section.id }}-popup-overlay').classList.add('show')
            currentCountry = reponse.country_code;
          }
        }
      );
    }
  );
}

function hideGeoPopup() {
  document.querySelector('.{{ section.id }}-popup-overlay').classList.remove('show')
  
  //Set Country on Popup Decision
  setCookie('geo-country', 'PH', { path: "/", expires: 365 });
}

if(!getCookie('geo-country')) {
  //document.querySelector('.{{ section.id }}-popup-overlay').classList.add('show')
  getLocation()
}
</script>

{% schema %}
{
  "name": "Geolocation",
  "class": "geo-location-country",
  "settings": [
    {
      "type": "image_picker",
      "id": "geolocation_banner",
      "label": "Banner"
    },
    {
      "type": "image_picker",
      "id": "geolocation_logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "popup_heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "shop_here_text",
      "label": "Shop Here Text"
    },
    {
      "type": "textarea",
      "id": "bottom_text",
      "label": "Bottom Text"
    }
  ]
}
{% endschema %}