{{ 'quiz.css' | asset_url | stylesheet_tag }}

<div class="quiz__wrapper">
{%- assign img_url = section.settings.background | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload quiz__bg small--hide" loading="lazy"
       data-widths="[492, 613, 900, 1600, 1810]"
       data-src="{{ img_url }}"
       data-aspectratio="{{ section.settings.background.aspect_ratio }}"
       data-sizes="auto" 
       alt="{{ section.settings.background.alt | escape }}">
  {%- assign img_url = section.settings.background_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload quiz__bg medium-up--hide" loading="lazy"
       data-widths="[492, 613, 900, 1600, 1810]"
       data-src="{{ img_url }}"
       data-aspectratio="{{ section.settings.background_mobile.aspect_ratio }}"
       data-sizes="auto" 
       alt="{{ section.settings.background_mobile.alt | escape }}"> 
  <div class="loader"></div>
	<div class="quiz__content"> 
	{%- if section.settings.space_around -%}<div class="index-section">{%- endif -%}
		<div class="page-width page-width--narrow">
          
  			<form id="question_form" action="/action_page.php">
            {%- for block in section.blocks -%} 
            <div class="quiz-questions__wrapper text-center question-tab" {{ block.shopify_attributes }}>
              <h1 class="text-center">{{ block.settings.question }}</h1>
              <div class="grid grid--uniform flex-box">
                <div class="question__block grid__item one-half" data-value="{%- if block.settings.choice_a == 'Gifts For Her' -%}Her{%- else -%}A{%- endif -%}">
                  {{ block.settings.choice_a }}
                </div>

                <div class="question__block grid__item one-half" data-value="{%- if block.settings.choice_b == 'Gifts For Him' -%}Him{%- else -%}B{%- endif -%}">
                  {{ block.settings.choice_b }}
                </div>
              </div>
              {%- if block.settings.choice_c  != blank and block.settings.choice_d != blank -%}
              <div class="grid grid--uniform flex-box">
                <div class="question__block grid__item one-half" data-value="C">
                  {{ block.settings.choice_c }}
                </div>

                <div class="question__block grid__item one-half" data-value="D">
                  {{ block.settings.choice_d }}
                </div>
                  
              </div>
              {%- endif -%}   
                
              {%- if block.settings.choice_e  != blank and block.settings.choice_f != blank -%}
              <div class="grid grid--uniform flex-box">
                <div class="question__block grid__item one-half" data-value="E">
                  {{ block.settings.choice_e }}
                </div>

                <div class="question__block grid__item one-half" data-value="F">
                  {{ block.settings.choice_f }}
                </div>

              </div>

              {%- endif -%}

            </div>
            {%- endfor -%}

    <div class="navigation-buttons__container">
      <button type="button" class="btn navigation-btn previous-btn" data-value=-1 disabled>Previous</button>
      <button type="button" class="btn navigation-btn next-btn" data-value=1 disabled>Next</button>
    </div>
  </form>
</div>
	{%- if section.settings.space_around -%}</div>{%- endif -%}
</div>
</div>

<script>
document.addEventListener('page:loaded', function() {
sessionStorage.clear();
var currentTab = 0;
showTab(currentTab);
  
var nextBtn = document.querySelector('.next-btn');
var prevBtn = document.querySelector('.previous-btn');
  
document.querySelectorAll('.question__block').forEach(block => {
  block.addEventListener('click', function() {
	nextBtn.disabled = false;
    prevBtn.disabled = false;
    reset_blocks();
  	block.classList.add('active');
  });
});
  
  
document.querySelectorAll('.next-btn').forEach(navigation => {
  navigation.addEventListener('click', function() {
    
    var selected = document.querySelector('.question__block.active'),
        ctr = sessionStorage.getItem(selected.getAttribute('data-value')) != null ? sessionStorage.getItem(selected.getAttribute('data-value')) : 0
        ctr = parseInt(ctr) + 1,
    
    sessionStorage.setItem(selected.getAttribute('data-value'), ctr);
    navigate(navigation.getAttribute('data-value'));
    nextBtn.disabled = true;
  });
});
  
document.querySelectorAll('.previous-btn').forEach(navigation => {
  navigation.addEventListener('click', function() {
    var selected = document.querySelector('.question__block.active'),
        ctr = sessionStorage.getItem(selected.getAttribute('data-value')) != null ? sessionStorage.getItem(selected.getAttribute('data-value')) : 0
        ctr = parseInt(ctr) - 1,
    
    sessionStorage.setItem(selected.getAttribute('data-value'), ctr);
    
    navigate(navigation.getAttribute('data-value'));
    prevBtn.disabled = true;
  });
});
  
  
  
function reset_blocks() {
	document.querySelectorAll('.question__block').forEach(block => {
      block.classList.remove('active');
    });
}

function showTab(n) {
  n = parseInt(n);
  var current_tab = document.getElementsByClassName('question-tab');
  current_tab[n].style.display = 'block';
  if (n == 0) {
    document.querySelector('.previous-btn').style.display = 'none';
  } else {
    document.querySelector('.previous-btn').style.display = 'inline';
  }
  if (n == (current_tab.length - 1)) {
    document.querySelector('.next-btn').innerHTML = 'Submit';
    document.querySelector('.next-btn').addEventListener("click", hideSec);

  } else {
    document.querySelector('.next-btn').innerHTML = 'Next';
  }
}

function hideSec() {
  document.querySelector('.quiz__content').style.display = 'none';
  document.querySelector('.loader').style.display = 'block';
}

function navigate(n) { 
  n = parseInt(n);
  var x = document.getElementsByClassName('question-tab');
  if (n == 1 && !validateForm()) return false;
  x[currentTab].style.display = "none";
  currentTab = currentTab + n;
  if (currentTab == x.length) {	
	var him = sessionStorage.getItem("Him"), her = sessionStorage.getItem("Her");
    var a = sessionStorage.getItem("A"), b = sessionStorage.getItem("B"), c = sessionStorage.getItem("C"), d = sessionStorage.getItem("D"), e = sessionStorage.getItem("E"), f = sessionStorage.getItem("F");
    var tally = [a, b, c, d, e, f];
    
    if (him > her) {
      var highestToLowest = tally.sort((x, y) => y-x);
      
      switch(highestToLowest[0]) {
        case a:
        location.replace("/pages/the-star-of-the-night-him");
        break;
          
        case b:
        location.replace("/pages/the-minimalist-essentialist-him");
        break;
          
        case c:
        location.replace("/pages/the-casual-and-chill-him");
        break;
          
        case d:
        location.replace("/pages/the-cutest-friend-him");
        break;
          
        case e:
        location.replace("/pages/the-dandy-and-unique-him");
        break;
          
        case f:
        location.replace("/pages/the-active-early-bird-him");
        break;
      }
    }
    
    else if (her > him) {
      var highestToLowest = tally.sort((x, y) => y-x);
      
     switch(highestToLowest[0]) {
        case a:
        location.replace("/pages/the-star-of-the-night-her");
        break;
          
        case b:
        location.replace("/pages/the-minimalist-essentialist-her");
        break;
          
        case c:
        location.replace("/pages/the-casual-and-chill-her");
        break;
          
        case d:
        location.replace("/pages/the-cutest-friend-her");
        break;
          
        case e:
        location.replace("/pages/the-dandy-and-unique-her");
        break;
          
        case f:
        location.replace("/pages/the-active-early-bird-her");
        break;
      }
      
    }    
    sessionStorage.clear();
  }
  else {
  	showTab(currentTab);
  }
}


function validateForm() {
  var x, y, i, valid = true;
  x = document.getElementsByClassName('question-tab');
  y = x[currentTab].getElementsByTagName("input");
  for (i = 0; i < y.length; i++) {
    if (y[i].value == "") {
      y[i].className += " invalid";
      valid = false;
    }
  }
  return valid; 
}
  
if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
   sessionStorage.clear();
}
  
});
</script>

{% schema %}
{
  "name": "Quiz",
  "settings": [
	{
	  "type": "image_picker",
	  "id": "background",
	  "label": "Background"
	},
	{
	  "type": "image_picker",
	  "id": "background_mobile",
	  "label": "Background in Mobile"
	},
    {
      "type": "checkbox",
      "id": "space_around",
      "label": "Add spacing above and below",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "space_top",
      "label": "Add extra spacing on top",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "info": "Use class title-highlight-focus for circled text."
    }
  ],
  "blocks": [
	 {
		"name": "Question",
		"type": "question",
		"settings": [
		  {
            "type": "text",
            "id": "question",
            "label": "Question"
		 },
		 {
            "type": "text",
            "id": "choice_a",
            "label": "Choice A"
		 },
		 {
            "type": "text",
            "id": "choice_b",
            "label": "Choice B"
		 },
		 {
            "type": "text",
            "id": "choice_c",
            "label": "Choice C"
		 },
		 {
            "type": "text",
            "id": "choice_d",
            "label": "Choice D"
		 },
		 {
            "type": "text",
            "id": "choice_e",
            "label": "Choice E"
		 },
		 {
            "type": "text",
            "id": "choice_f",
            "label": "Choice F"
		 }
		]
      }
  ],
  "presets": [
    {
      "name": "Quiz"
    }
  ]
}
{% endschema %}
