{{ 'slider-static.css' | asset_url | stylesheet_tag }}

{%- liquid
	if section.settings.screen_size == 'full_screen'
    	assign screen = 'page-full-width'
    elsif section.settings.screen_size == 'semi_full'
    	assign screen = 'page-full'
	else
    	assign screen = 'page-width'
	endif
-%}

{%- if section.settings.space_around -%}<hr class="hr--small hr--clear">{%- endif -%}
<div class="{{ screen }}">
	<div class="grid{% if section.settings.space_around_blocks %} grid--{{ section.settings.spacing_size }}{% else %} grid--no-gutters{% endif %}">
      	<div class="grid__item {% if section.settings.static_image1 != blank %}one-third small--one-whole{% else %}one-half{% endif %}">
        	<div class="swiper" id="slider-container__{{ section.id }}">
              <div class="swiper-wrapper">
               {%- for block in section.blocks -%}
                <div class="slider-static--slide swiper-slide">
                  <a href="{{ block.settings.link }}">
                    {%- assign img_url = block.settings.slider_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="lazyload" loading="lazy"
                         data-src="{{ img_url }}"
                         data-widths="[183, 217, 360, 596, 899, 905]"
                         data-aspectratio="{{ block.settings.slider_image.aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ block.settings.slider_image.alt | escape }}">
                  </a>
                </div>
            	 {%- endfor -%}
             </div>   

             {% if section.settings.enable_navigation -%}
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
             {%- endif -%}
             {% if section.settings.enable_scrollbar -%}<div class="swiper-pagination"></div>{%- endif -%}
             
          </div>
      	</div>
        <div class="static-container grid__item {% if section.settings.static_image1 != blank %}one-third small--one-whole{% else %}one-half{% endif %}">
          {%- assign img_url = section.settings.static_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <a href="{{ section.settings.static_img_link }}">
          <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[183, 360, 596, 597, 899, 905]"
               data-aspectratio="{{ section.settings.static_image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ section.settings.static_image.alt | escape }}">
          </a>

          {%- if section.settings.static_button -%}
            <div class="slider-static-button-container{% if section.settings.static_img_link1 != blank %} slider-static-button-container-adjust{% endif %}">
              <a href="{{ section.settings.static_img_link }}" class="slider-static-button first-button">{{ section.settings.static_img_button_text }}</a>
              {%- if section.settings.static_img_link1 != blank -%}
              <a href="{{ section.settings.static_img_link1 }}" class="slider-static-button">{{ section.settings.static_img_button_text1 }}</a>
              {%- endif -%}
          </div>        
         {%- endif -%}
        </div>
      	{%- if section.settings.static_image1 != blank -%}
      	<div class="static-container grid__item one-third small--one-whole">
          {%- assign img_url = section.settings.static_image1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <a href="{{ section.settings.static_img_link1 }}">
          <img class="lazyload" loading="lazy"
               data-src="{{ img_url }}"
               data-widths="[183, 360, 596, 597, 610, 899, 905]"
               data-aspectratio="{{ section.settings.static_image1.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ section.settings.static_image1.alt | escape }}">
          </a>
        </div>
      	{%- endif -%}
	</div>
</div>

{%- if section.settings.spacing_mobile -%}
{%- style -%}
@media only screen and (max-width:589px) {
	.static-container {
		margin-top: 10px;
	}
}
{%- endstyle -%}
{%- endif -%}

<script>
const slider_static = new Swiper('#slider-container__{{ section.id }}', {
   navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
   },
   pagination: {
    el: '.swiper-pagination',
    type: 'bullets',
    clickable: true
   }{%- if section.settings.autoplay -%},
   autoplay: {
     delay: {{ section.settings.speed | times: 1000 }},
   }{%- endif -%}
});
</script>

{% schema %}
  {
    "name": "Slider Static",
	"max_blocks": 5,
    "settings": [
		{
          "type": "checkbox",
          "id": "space_around",
          "label": "Add spacing above and below",
          "default": false
        },
		{
          "type": "checkbox",
          "id": "space_around_blocks",
          "label": "Add spacing around",
          "default": false
        },
		{
          "type": "checkbox",
          "id": "spacing_mobile",
          "label": "Spacing on Mobile",
          "default": false
        },
		{
          "type": "select",
          "id": "spacing_size",
          "label": "Spacing Size",
          "default": "medium",
          "options": [
            {
              "value": "medium",
              "label": "Small"
            },
            {
              "value": "custom",
              "label": "Large"
            }
          ]
		},
		{
          "type": "select",
          "id": "screen_size",
          "label": "Screen Size",
          "default": "full_screen",
          "options": [
		    {
              "value": "regular",
              "label": "Regular"
            },
            {
              "value": "semi_full",
              "label": "Semi Full Screen"
            },
            {
              "value": "full_screen",
              "label": "Full Screen"
            }
          ]
		},
		{
		 "type": "header",
		 "content": "Slider Settings"
		},
	    {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay",
          "default": false
        },
        {
		  "type": "checkbox",
		  "id": "enable_navigation",
		  "label": "Enable Navigation",
		  "default": false
		},
        {
		  "type": "checkbox",
		  "id": "enable_scrollbar",
		  "label": "Enable Scrollbar",
		  "info": "Enable this if you have slides more than your slide per view above",
		  "default": false
		},
		{
          "type": "range",
          "id": "speed",
          "label": "Speed",
          "default": 7,
          "min": 5,
          "max": 9,
          "step": 1,
          "unit": "s"
        },
		{
		 "type": "header",
		 "content": "Image/GIF Settings"
		},
		{
          "type": "image_picker",
          "id": "static_image",
          "label": "Static Image"
      	},
		{
          "type": "url",
          "id": "static_img_link",
          "label": "Link"
      	},
	    {
          "type": "checkbox",
          "id": "static_button",
          "label": "Enable Button",
		  "default": false
      	},
		{
          "type": "text",
          "id": "static_img_button_text",
          "label": "Button Text"
      	},
		{
          "type": "text",
          "id": "static_img_button_text1",
          "label": "Button 2 Text"
      	},
		{
          "type": "image_picker",
          "id": "static_image1",
          "label": "Image 2"
      	},
		{
          "type": "url",
          "id": "static_img_link1",
          "label": "Link 2"
      	}
	],
	"blocks": [
      {
        "type": "image",
        "name": "Slider Image",
        "settings": [
          {
            "id": "slider_image",
            "type": "image_picker",
            "label": "Image"
          },
		  {
            "id": "link",
            "type": "url",
            "label": "Link"
          }
		]
	  }
	],
    "presets": [{
      "name": "Slider Static"
    }]
  }
{% endschema %}