{%- style -%}
.stores-list--{{ section.id }} .custom-collapsible-block .collapsibles-wrapper {
	border-color: {{ section.settings.color }};
}

.stores-list--{{ section.id }} .custom-collapsible-block .collapsible-trigger-btn,
.stores-list--{{ section.id }} p {
	color: {{ section.settings.color }};
}
{%- endstyle -%}

<div class="page-width stores-list--{{ section.id }} {% if section.settings.space_around %}index-section{% endif %}">
  	<p class="h4 text-center">{{ section.settings.title }}</p>
	{%- for block in section.blocks -%}
    <div class="custom-collapsible-block custom-collapsible-block--tab" {{ block.shopify_attributes }}>
      {%- render 'custom-tab', block: block -%}
    </div>
  	{%- endfor -%}
</div>

{% schema %}
  {
    "name": "Stores List",
	"settings": [
		{
          "type": "text",
          "id": "title",
          "label": "Title"
        },
		{
          "type": "checkbox",
          "id": "space_around",
          "label": "Add spacing above and below",
          "default": true
        },
		{
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#FFF"
        }
	],
    "blocks": [
	   	{
		  "type": "store_availability",
		  "name": "Store Availability",
		  "limit": 4,
		  "settings": [
			{
              "type": "text",
              "id": "title",
              "label": "Area"
            },
            {
              "type": "textarea",
              "id": "stores_list_left",
              "label": "Stores List (Left)",
              "info": "Comma then space separated"
            },
            {
              "type": "textarea",
              "id": "stores_list_right",
              "label": "Stores List (Right)",
              "info": "Comma then space separated"
            },
{
  "type": "image_picker",
  "id": "logo_image",
  "label": "Logo image"
}
		  ]
	   }
	],
	"presets": [
      {
      "name": "Stores List"
      }
    ]
  }
{% endschema %}
